pipeline/ADF_MODELO_CSV.json
{
	"name": "ADF_MODELO_CSV",
	"properties": {
		"activities": [
			{
				"name": "GetFileListOrigemOP",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "LeCredenciaisDBorigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryDataSource_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_FILE_PATH",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "DeleteAFile",
							"description": "Delete a file from the source store",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "MoveFileProcessed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BinaryDataSource_File",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_FILE_PATH",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "GravaLogFimItem-ToDL_CSV",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteAFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemFim]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NOM_SCHEMA_ORIGEM": {
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_ORIGEM",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOM_TABELA_ORIGEM": {
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_ORIGEM",
											"type": "Expression"
										},
										"type": "String"
									},
									"NUM_REGISTROS": {
										"value": {
											"value": "@string(activity('Copy_CSV_TO_ADLS').output.rowsCopied)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"COD_SERVIDOR": {
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
											"type": "Expression"
										},
										"type": "Int"
									},
									"DESTINO": {
										"value": "ToDataLake",
										"type": "String"
									},
									"COD_TABELA": {
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ORIGEM": {
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_SIZE": {
										"value": {
											"value": "@string(activity('Copy_CSV_TO_ADLS').output.DataWritten)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DSC_OBS": {
										"value": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'/',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),'/',substring(pipeline().parameters.ParDatHoraProcessamento,5,2),'/',substring(pipeline().parameters.ParDatHoraProcessamento,8,2),'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'_',substring(item().name,sub(length(item().name),12),8),'_',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),substring(pipeline().parameters.ParDatHoraProcessamento,5,2),substring(pipeline().parameters.ParDatHoraProcessamento,8,2),substring(pipeline().parameters.ParDatHoraProcessamento,11,2),substring(pipeline().parameters.ParDatHoraProcessamento,14,2),'.gz'))\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"COD_LOG_ITEM": {
										"value": {
											"value": "@activity('GravaLogInicioItem-ToDL_CSV').output.FirstRow.COD_LOG_ITEM",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CSV_TO_ADLS_Size",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CSV_TO_ADLS_PATH_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileSize",
								"value": {
									"value": "@string(activity('Copy_CSV_TO_ADLS').output.DataWritten)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CSV_TO_ADLS_PATH_RAW",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CSV_TO_ADLS_RowsRead",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PathRaw",
								"value": {
									"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'/',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),'/',substring(pipeline().parameters.ParDatHoraProcessamento,5,2),'/',substring(pipeline().parameters.ParDatHoraProcessamento,8,2),'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'_',substring(item().name,sub(length(item().name),12),8),'_',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),substring(pipeline().parameters.ParDatHoraProcessamento,5,2),substring(pipeline().parameters.ParDatHoraProcessamento,8,2),substring(pipeline().parameters.ParDatHoraProcessamento,11,2),substring(pipeline().parameters.ParDatHoraProcessamento,14,2),'.gz'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CSV_TO_ADLS_RowsRead",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_CSV_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nuregistros",
								"value": {
									"value": "@string(activity('Copy_CSV_TO_ADLS').output.rowsCopied)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_CSV_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToDL_CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "DAT_HORA_EXPORTACAO",
											"value": {
												"value": "@pipeline().parameters.ParDatHoraProcessamento",
												"type": "Expression"
											}
										},
										{
											"name": "NOM_FILE",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CSV_OP_DS_ORIGEM",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_FILE_PATH",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_GEN2_CSV_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'/',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),'/',substring(pipeline().parameters.ParDatHoraProcessamento,5,2),'/',substring(pipeline().parameters.ParDatHoraProcessamento,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_DESTINO,'_',substring(item().name,sub(length(item().name),12),8),'_',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),substring(pipeline().parameters.ParDatHoraProcessamento,5,2),substring(pipeline().parameters.ParDatHoraProcessamento,8,2),substring(pipeline().parameters.ParDatHoraProcessamento,11,2),substring(pipeline().parameters.ParDatHoraProcessamento,14,2),'.gz'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MoveFileProcessed",
							"description": "Copy a file from the source store to the destination store.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CSV_TO_ADLS_Size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									},
									"recursive": false
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "BinaryDataSource_File",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_FILE_PATH",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinaryDataDestination",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_DIRECTORY_DESTINATION",
											"type": "Expression"
										},
										"Directory": {
											"value": "@concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_FOLDER_DESTINATION,'/',substring(pipeline().parameters.ParDatHoraProcessamento,0,4),'/',substring(pipeline().parameters.ParDatHoraProcessamento,5,2),'/',substring(pipeline().parameters.ParDatHoraProcessamento,8,2))",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GravaLogInicioItem-ToDL_CSV",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItem]",
									"storedProcedureParameters": {
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"COD_SERVIDOR": {
											"type": "Int32",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ParDataIngestao",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataLake"
										},
										"NOM_SCHEMA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_ORIGEM",
												"type": "Expression"
											}
										},
										"NOM_TABELA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_ORIGEM",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileListOrigemOP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileListOrigemOP').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().type, 'File'),startsWith(item().name, activity('LeCredenciaisDBorigem').output.FirstRow.NOM_FILE_NAME))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LeCredenciaisDBorigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciais]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodTabela",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			}
		],
		"parameters": {
			"ParCodTabela": {
				"type": "string"
			},
			"ParIdPipeline": {
				"type": "string"
			},
			"ParDatHoraProcessamento": {
				"type": "string"
			},
			"ParDataIngestao": {
				"type": "string"
			}
		},
		"variables": {
			"FIlePath": {
				"type": "String"
			},
			"nuregistros": {
				"type": "String",
				"defaultValue": "0"
			},
			"FileSize": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"CodLogItem": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/SQL SERVER"
		},
		"annotations": []
	}
}