pipeline/ADF_MODELO_API_JSON_VTEX.json
{
	"name": "ADF_MODELO_API_JSON_VTEX",
	"properties": {
		"activities": [
			{
				"name": "GravaLogFim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SeData_Cleansing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PADFIdPacoteFIM]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@pipeline().parameters.ParIdPipeline",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_PARAMETROS": {
							"value": {
								"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_BASE,variables('RalativeURL'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD": {
							"value": {
								"value": "@pipeline().parameters.ParCodEndPoint",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_TIPO": {
							"value": "API",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeAPI_JSON_TO_DL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_API_JSON_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "RelativeURL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": "X-VTEX-API-AppToken: BGSTNGUYXERIIEDBJRZSYUKFBQKUWMSXDYKWMCMYQUIWBNIBKWWHACSHVNSWWZCKMTFKTHOGEACELODNHIKAPKXAGDAZKQCQRXJIHYICHPCAANVHJEONPCUBWFEPHPWO\\ x-vtex-api-appkey:vtexappkey-malwee-AHFBTB"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"ParRelativeURL": {
											"value": "@variables('RalativeURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(activity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT,'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT,'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.json'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GravaLogFimItem-ToDL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "API_TO_ADLS_SizeCopied",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemFimAPI]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_SIZE_ARQUIVO": {
										"value": {
											"value": "@variables('SizeArquivo')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"COD_ENDPOINT": {
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										},
										"type": "Int"
									},
									"DESTINO": {
										"value": "ToDataLake",
										"type": "String"
									},
									"ORIGEM": {
										"value": "API-JSON",
										"type": "String"
									},
									"NOM_ALIAS_ENDPOINT": {
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT",
											"type": "Expression"
										},
										"type": "String"
									},
									"COD_LOG_ITEM": {
										"value": {
											"value": "@activity('GravaLogInicioItem-ToDL').output.FirstRow.COD_LOG_ITEM",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_REGISTROS": {
										"value": "0",
										"type": "Int64"
									},
									"DSC_OBS": {
										"value": {
											"value": "@variables('PathRaw')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "API_TO_ADLS_SizeCopied",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SQLOP_TO_ADLS_PATH_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SizeArquivo",
								"value": {
									"value": "@string(activity('Copy_API_JSON_TO_ADLS').output.dataWritten)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RelativeURL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToDL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RalativeURL",
								"value": {
									"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,activity('LeCredenciaisOrigem').output.FirstRow.DESC_PARAMETRO_1,activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1,activity('LeCredenciaisOrigem').output.FirstRow.DESC_PARAMETRO_2,activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2,activity('LeCredenciaisOrigem').output.FirstRow.DESC_PARAMETRO_3,activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_3,activity('LeCredenciaisOrigem').output.FirstRow.DESC_PARAMETRO_4,activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,activity('LeCredenciaisOrigem').output.FirstRow.DESC_PARAMETRO_5,activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_5)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GravaLogInicioItem-ToDL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItemAPI]",
									"storedProcedureParameters": {
										"COD_ENDPOINT": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											}
										},
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataLake"
										},
										"NOM_ALIAS_ENDPOINT": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": "API-JSON"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						},
						{
							"name": "SQLOP_TO_ADLS_PATH_RAW",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_API_JSON_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PathRaw",
								"value": {
									"value": "@toLower(concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT,'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT,'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.json'))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeData_Cleansing",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SeAPI_JSON_TO_DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.IND_DATA_CLEANSING,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "nb_data_cleansing",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToDataCleansing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/cleansing/ControlCleansing",
								"baseParameters": {
									"dat_processamento_ant": {
										"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_PROCESSAMENTO_ANTERIOR",
										"type": "Expression"
									},
									"dat_processamento_atual": {
										"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_HORA_PROCESSAMENTO",
										"type": "Expression"
									},
									"nom_alias": {
										"value": "@ToLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_SISTEMA_ORIGEM)",
										"type": "Expression"
									},
									"nom_colunas": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DSC_COLUNAS_CLEANSING",
										"type": "Expression"
									},
									"nom_container_cleansing": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING)",
										"type": "Expression"
									},
									"nom_container_raw": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW)",
										"type": "Expression"
									},
									"nom_database": "file",
									"nom_location": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_REGION)",
										"type": "Expression"
									},
									"nom_schema": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL)",
										"type": "Expression"
									},
									"nom_tabela": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT)",
										"type": "Expression"
									},
									"tipo_origem": {
										"value": "@toLower(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL)",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADB_ETL",
								"type": "LinkedServiceReference",
								"parameters": {
									"condatabricksurl": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_SECRET_CON_DATABRICKS",
										"type": "Expression"
									},
									"pwddatabricks": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_SECRET_PWD_DATABRICKS",
										"type": "Expression"
									},
									"nomcluster": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_SECRET_CLUSTER_ID",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GravaLogInicioItem-ToDataCleansing",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItemAPI]",
									"storedProcedureParameters": {
										"COD_ENDPOINT": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											}
										},
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataCleansing"
										},
										"NOM_ALIAS_ENDPOINT": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": "API-JSON"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						},
						{
							"name": "GravaLogFimItem-ToDataCleansing",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "AtualizaData-ToDataCleansing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemFimAPI]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_SIZE_ARQUIVO": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"COD_ENDPOINT": {
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										},
										"type": "Int"
									},
									"DESTINO": {
										"value": "ToDataCleansing",
										"type": "String"
									},
									"ORIGEM": {
										"value": "API-JSON",
										"type": "String"
									},
									"NOM_ALIAS_ENDPOINT": {
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT",
											"type": "Expression"
										},
										"type": "String"
									},
									"COD_LOG_ITEM": {
										"value": {
											"value": "@activity('GravaLogInicioItem-ToDataCleansing').output.FirstRow.COD_LOG_ITEM",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_REGISTROS": {
										"value": {
											"value": "@activity('nb_data_cleansing').output.runOutput.qtd_linhas",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DSC_OBS": {
										"value": {
											"value": "@activity('nb_data_cleansing').output.runOutput.path_cleasing",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "AtualizaData-ToDataCleansing",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "nb_data_cleansing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PADFDataProcessamentoCleansingAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParIdPipeline": {
				"type": "String"
			},
			"ParCodEndPoint": {
				"type": "int"
			}
		},
		"variables": {
			"receiver": {
				"type": "String"
			},
			"RalativeURL": {
				"type": "String"
			},
			"SizeArquivo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}