pipeline/ADF_MODELO_API_JSON_VTEX_ORDER_CAPTURA_NUMERO_ORDER.json
{
	"name": "ADF_MODELO_API_JSON_VTEX_ORDER_CAPTURA_NUMERO_ORDER",
	"properties": {
		"activities": [
			{
				"name": "CapturaDataExportacao",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select   CONVERT(VARCHAR(16),DAT_ULTI_PROCESSAMENTO,120)+':00' as DATA_HORA_EXPORTACAO \nfrom CTR_ADF_API_ENDPOINT where COD_ENDPOINT = 4",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					}
				}
			},
			{
				"name": "DataExportacao",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CapturaDataExportacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATA_HORA_EXPORTACAO",
					"value": {
						"value": "@activity('CapturaDataExportacao').output.FirstRow.DATA_HORA_EXPORTACAO\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OrderID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DataExportacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_VTEX_RETORNA_ORDERID_PENDENTE]",
						"storedProcedureParameters": {
							"DATA_HORA_EXPORTACAO": {
								"type": "String",
								"value": {
									"value": "@variables('DATA_HORA_EXPORTACAO')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "wsdevbrsynapse",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "executa downlod order detalhe",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OrderID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OrderID').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "executa EXEC_ADF_MODELO_API_JSON_VTEX_ORDER_DETAILS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "EXEC_ADF_MODELO_API_JSON_VTEX_ORDER_DETAILS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParCodEndPoint": "5",
									"ParNumeroOrder": {
										"value": "@{item().OrderID}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"DATA_HORA_EXPORTACAO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	}
}