pipeline/ADF_MODELO_API_JSON_SAP.json
{
	"name": "ADF_MODELO_API_JSON_SAP",
	"properties": {
		"activities": [
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "GravaVariaveis",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "RelativeURL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RalativeURL",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Body",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Body",
								"value": {
									"value": "@concat('{',\n'\"I_BUKRS\": [\"2001\",\"5001\"],',\n'\"I_DATA_INI\":\"',activity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_SAP_JSON,'\",',\n'\"I_DATA_FIM\":\"',activity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_SAP_JSON,'\",',\n'\"I_REGISTRO_CRIADO\":',activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,',',\n'\"I_REGISTRO_ALTERADO\":',activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_5,',',\n'\"I_QTDE_REGISTROS\":',activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_6,\n'}'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GravaVariaveis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insert_sap_url]",
					"storedProcedureParameters": {
						"url": {
							"value": {
								"value": "@variables('RalativeURL')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ParIdPipeline": {
				"type": "String"
			},
			"ParCodEndPoint": {
				"type": "int"
			}
		},
		"variables": {
			"receiver": {
				"type": "String"
			},
			"RalativeURL": {
				"type": "String"
			},
			"SizeArquivo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"Body": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/SAP"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}