pipeline/ADF_MODELO_API_JSON_VTEX_ORDER_DETAILS.json
{
	"name": "ADF_MODELO_API_JSON_VTEX_ORDER_DETAILS",
	"properties": {
		"activities": [
			{
				"name": "GravaLogFim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SeAPI_JSON_TO_DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PADFIdPacoteFIM]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@pipeline().parameters.ParIdPipeline",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_PARAMETROS": {
							"value": {
								"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_BASE,variables('RalativeURL'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD": {
							"value": {
								"value": "@pipeline().parameters.ParCodEndPoint",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_TIPO": {
							"value": "API",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeAPI_JSON_TO_DL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_API_JSON_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FileSystemRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"X-VTEX-API-AppToken": {
											"value": "@variables('AppToken')",
											"type": "Expression"
										},
										"x-vtex-api-appkey": {
											"value": "@variables('AppKey')",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestVTEX",
									"type": "DatasetReference",
									"parameters": {
										"ParRelativeURL": {
											"value": "@variables('RalativeURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@variables('FilePathRawJson')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@variables('FileNameRawJson')",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@variables('FileSystemRaw')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GravaLogFimItem-ToDL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "API_TO_ADLS_SizeCopied",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemFimAPI]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_SIZE_ARQUIVO": {
										"value": {
											"value": "@variables('SizeArquivo')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"COD_ENDPOINT": {
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										},
										"type": "Int"
									},
									"DESTINO": {
										"value": "ToDataLake",
										"type": "String"
									},
									"ORIGEM": {
										"value": "API-JSON",
										"type": "String"
									},
									"NOM_ALIAS_ENDPOINT": {
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
											"type": "Expression"
										},
										"type": "String"
									},
									"COD_LOG_ITEM": {
										"value": {
											"value": "@activity('GravaLogInicioItem-ToDL').output.FirstRow.COD_LOG_ITEM",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_REGISTROS": {
										"value": "0",
										"type": "Int64"
									},
									"DSC_OBS": {
										"value": {
											"value": "@variables('PathRaw')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "API_TO_ADLS_SizeCopied",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SQLOP_TO_ADLS_PATH_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SizeArquivo",
								"value": {
									"value": "@string(activity('Copy_API_JSON_TO_ADLS').output.dataWritten)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RelativeURL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToDL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RalativeURL",
								"value": {
									"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,pipeline().parameters.ParNumeroOrder)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GravaLogInicioItem-ToDL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItemAPI]",
									"storedProcedureParameters": {
										"COD_ENDPOINT": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											}
										},
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataLake"
										},
										"NOM_ALIAS_ENDPOINT": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": "API-JSON"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						},
						{
							"name": "SQLOP_TO_ADLS_PATH_RAW",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_PARQUET",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PathRaw",
								"value": {
									"value": "@toLower(concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),'/',activity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.json'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppToken",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "RelativeURL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppToken",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppKey",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AppToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppKey",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FilePathRawJson",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AppKey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FilePathRawJson",
								"value": {
									"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FileNameRawJson",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FilePathRawOderHeaderParquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileNameRawJson",
								"value": {
									"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'.json'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FileSystemRaw",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FileNameRawParquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileSystemRaw",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
									"type": "Expression"
								}
							}
						},
						{
							"name": "API_JSON_TO_PARQUET",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_API_JSON_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@variables('FilePathRawJson')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@variables('FileNameRawJson')",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@variables('FileSystemRaw')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@variables('FilePathRawOderHeaderParquet')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@variables('FileNameRawParquet')",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@variables('FileSystemRaw')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "FilePathRawOderHeaderParquet",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FilePathRawJson",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FilePathRawOderHeaderParquet",
								"value": {
									"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FileNameRawParquet",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FileNameRawJson",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FilePathRawOderHeaderParquet",
								"value": {
									"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_header.parquet'))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			}
		],
		"parameters": {
			"ParIdPipeline": {
				"type": "String"
			},
			"ParCodEndPoint": {
				"type": "int"
			},
			"ParNumeroOrder": {
				"type": "string"
			}
		},
		"variables": {
			"receiver": {
				"type": "String"
			},
			"RalativeURL": {
				"type": "String"
			},
			"SizeArquivo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"AppToken": {
				"type": "String"
			},
			"AppKey": {
				"type": "String"
			},
			"FilePathRawJson": {
				"type": "String"
			},
			"FileNameRawJson": {
				"type": "String"
			},
			"FileSystemRaw": {
				"type": "String"
			},
			"FilePathRawOderHeaderParquet": {
				"type": "String"
			},
			"FileNameRawParquet": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}