pipeline/ADF_MODELO_ORACLE.json
{
	"name": "ADF_MODELO_ORACLE",
	"properties": {
		"description": "Modelo de importação de tabelas do ADF a partir de uma tabela de controle com as tabelas a importar, suas origens e colunas.",
		"activities": [
			{
				"name": "GravaLogFim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RAW_TO_CLEANSING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PADFIdPacoteFIM]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@pipeline().parameters.ParIdPipeline",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_PARAMETROS": {
							"value": {
								"value": "@variables('dscParameters')",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD": {
							"value": {
								"value": "@pipeline().parameters.ParCodTabela",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_TIPO": {
							"value": "TABELA",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LimpaTabelaColunas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamento]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodTabela",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LimpaTabelaColunas",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Variaveis-SrvOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFLimpaTabelaColunas]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodTabela",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LeCredenciaisDBorigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciais]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodTabela",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "Variaveis-SrvOrigem",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeCredenciaisDBorigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DataBaseName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ServerName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataBaseName",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_BASE",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UserName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DataBaseName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "UserName",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_USUARIO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Password",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "UserName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Password",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_PASSWORD",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TipoArmazenamento",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Password",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TipoArmazenamento",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.IND_TIPO_ARMAZENAMENTO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ServerName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ServerName",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_SERVIDOR",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SecretNamePassword",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TipoArmazenamento",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SecretNamePassword",
								"value": {
									"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_PWD",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "RAW_TO_CLEANSING",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CargaFull",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('TipoArmazenamento'),'SQLOP'),equals(pipeline().parameters.ParIndDataCleansing,'1'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GravaLogInicioItem-ToCleansing",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItem]",
									"storedProcedureParameters": {
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"COD_SERVIDOR": {
											"type": "Int32",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_INGESTAO",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataLake"
										},
										"NOM_SCHEMA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_RAW",
												"type": "Expression"
											}
										},
										"NOM_TABELA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_RAW",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						},
						{
							"name": "Copy_raw_to_cleansing",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToCleansing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ', \nactivity('LeCredenciaisDBorigem').output.firstRow.NOM_SCHEMA_RAW,'.',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_RAW,\n' where ',\nactivity('LeCredenciaisDBorigem').output.firstRow.NOM_COLUNA_REFERENCIA_RAW,\n' =  (select max(',activity('LeCredenciaisDBorigem').output.firstRow.NOM_COLUNA_REFERENCIA_RAW,') from ',\nactivity('LeCredenciaisDBorigem').output.firstRow.NOM_SCHEMA_RAW,'.',activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_RAW,')')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "wsdevbrsynapse",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',\ntoLower(activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_RAW)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "CargaFull",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('TipoArmazenamento'),'SQLOP'),equals(pipeline().parameters.ParIndDestinoDL,'1'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_SQLOP_TO_ADLS_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GravaLogInicioItem-ToDL_CSV_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"additionalColumns": [
										{
											"name": "DAT_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,16)",
												"type": "Expression"
											}
										}
									],
									"oracleReaderQuery": {
										"value": "@concat('select ',activity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,' from ',pipeline().parameters.ParNomeSchemaOrigem,if(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),pipeline().parameters.ParNomeTabelaOrigem)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "OracleTable1",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "TABELA",
										"UserName": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_USUARIO",
											"type": "Expression"
										},
										"SecretNamePWD": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_PWD",
											"type": "Expression"
										},
										"SecretNameCON": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_CON",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GravaLogFimItem-ToDL_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set dscParametros SQLOP_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemFim]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NOM_SCHEMA_ORIGEM": {
										"value": {
											"value": "@pipeline().parameters.ParNomeSchemaOrigem",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOM_TABELA_ORIGEM": {
										"value": {
											"value": "@pipeline().parameters.ParNomeTabelaOrigem",
											"type": "Expression"
										},
										"type": "String"
									},
									"NUM_REGISTROS": {
										"value": {
											"value": "@variables('nuregistros')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"COD_SERVIDOR": {
										"value": {
											"value": "@pipeline().parameters.ParCodServidor",
											"type": "Expression"
										},
										"type": "Int"
									},
									"DESTINO": {
										"value": "ToDataLake",
										"type": "String"
									},
									"COD_TABELA": {
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ORIGEM": {
										"value": {
											"value": "@variables('TipoArmazenamento')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_SIZE": {
										"value": {
											"value": "@variables('FileSize')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DSC_OBS": {
										"value": {
											"value": "@variables('PathRaw')",
											"type": "Expression"
										},
										"type": "String"
									},
									"COD_LOG_ITEM": {
										"value": {
											"value": "@activity('GravaLogInicioItem-ToDL_CSV').output.FirstRow.COD_LOG_ITEM",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SQLOP_TO_ADLS_RowsCopied_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_SQLOP_TO_ADLS_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nuregistros",
								"value": {
									"value": "@string(activity('Copy_SQLOP_TO_ADLS').output.rowsCopied)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SQLOP_TO_ADLS_PATH_RAW_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SQLOP_TO_ADLS_RowsCopied_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PathRaw",
								"value": {
									"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.orc'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GravaLogInicioItem-ToDL_CSV_copy1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PLogADFItem]",
									"storedProcedureParameters": {
										"COD_LOG": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.ParIdPipeline",
												"type": "Expression"
											}
										},
										"COD_SERVIDOR": {
											"type": "Int32",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
												"type": "Expression"
											}
										},
										"DAT_EXPORTACAO": {
											"type": "String",
											"value": {
												"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_INGESTAO",
												"type": "Expression"
											}
										},
										"DESTINO": {
											"type": "String",
											"value": "ToDataLake"
										},
										"NOM_SCHEMA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_ORIGEM",
												"type": "Expression"
											}
										},
										"NOM_TABELA_ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_ORIGEM",
												"type": "Expression"
											}
										},
										"ORIGEM": {
											"type": "String",
											"value": {
												"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DS_CONTROLE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": "Tabela"
									}
								}
							}
						},
						{
							"name": "Set dscParametros SQLOP_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SQLOP_TO_ADLS_PATH_RAW_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dscParameters",
								"value": {
									"value": "@concat('select ',activity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,' from ',pipeline().parameters.ParNomeSchemaOrigem,if(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),pipeline().parameters.ParNomeTabelaOrigem)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParNomeSchemaOrigem": {
				"type": "String"
			},
			"ParIdPipeline": {
				"type": "String"
			},
			"ParNomeTabelaOrigem": {
				"type": "String"
			},
			"ParNomeSchemaDestino": {
				"type": "string"
			},
			"ParNomeAlias": {
				"type": "string"
			},
			"ParNomeTabelaDestino": {
				"type": "string"
			},
			"ParCodServidor": {
				"type": "int"
			},
			"ParTipoETL": {
				"type": "string"
			},
			"ParIndDestinoDL": {
				"type": "string"
			},
			"ParIndDestinoSQL": {
				"type": "string"
			},
			"ParCodTabela": {
				"type": "int"
			},
			"SourceStore_Location": {
				"type": "string"
			},
			"SourceStore_Directory": {
				"type": "string"
			},
			"DestinationStore_Location": {
				"type": "string"
			},
			"DestinationStore_Directory": {
				"type": "string"
			},
			"ParIndDataCleansing": {
				"type": "string"
			}
		},
		"variables": {
			"nuregistros": {
				"type": "String",
				"defaultValue": "0"
			},
			"receiver": {
				"type": "String"
			},
			"ComandoGeraSelect": {
				"type": "String",
				"defaultValue": ",@coluna\t\tvarchar(max)  select   \t\t@coluna =  \t\t\tcase  \t\t\t\twhen @coluna is null  \t\t\t\t\tThen 'Convert(varchar(max),isnull('+ name  + ',' +\t \t\t\t\t\t\t\t\tcase when xtype in (56,60,62,104,106,127) then '0' +'))' \t\t\t\t\t\t\t\t\t when xtype in (42,61)\t\t\t\t  then '''1900-01-01'''+'),121)' \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  else '''''' +'))' \t\t\t\t\t\t\t\tend  \t\t\t\tElse \t\t  \t\t\t\t\t @coluna + '+' + 'Convert(varchar(max),isnull('+ name + ','\t+ \t\t\t\t\t\t\t\tcase when xtype in (56,60,62,104,106,127)\tthen '0' +'))' \t\t\t\t\t\t\t\t\t when xtype in (42,61)\t\t\t\t\tthen '''1900-01-01'''+'),121)' \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\telse '''''' +'))' \t\t\t\t\t\t\t\tend \t\t\t\tend from  \t\tsys.syscolumns  where  \t\tid = OBJECT_ID(@Tabela) order by colid  select @coluna = ' SUBSTRING(sys.fn_sqlvarbasetostr(HASHBYTES(''MD5'',' +\t@coluna + ')),3,32) HASH_KEY from ' + @tabela  select @coluna ComandoSelectHash"
			},
			"ComandoSelectHash": {
				"type": "String"
			},
			"DataBaseName": {
				"type": "String"
			},
			"UserName": {
				"type": "String"
			},
			"Password": {
				"type": "String"
			},
			"TipoArmazenamento": {
				"type": "String"
			},
			"ServerName": {
				"type": "String"
			},
			"NomeBucket": {
				"type": "String",
				"defaultValue": "dl"
			},
			"DestinoDL": {
				"type": "String"
			},
			"SecretNamePassword": {
				"type": "String"
			},
			"FileSize": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"NumFiles": {
				"type": "String",
				"defaultValue": "0"
			},
			"dscParameters": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/ORACLE"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}