pipeline/EXEC_ADF_MODELO_API_JSON_VTEX.json
{
	"name": "EXEC_ADF_MODELO_API_JSON_VTEX",
	"properties": {
		"activities": [
			{
				"name": "GravaLogInicio",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "PADFIdPacoteAPIVTEX",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							},
							"NOM_PACOTE": {
								"type": "String",
								"value": "ADF_MODELO_API"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "ExecutaPipelineModeloAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GravaLogInicio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ADF_MODELO_API_JSON_VTEX",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParIdPipeline": {
							"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
							"type": "Expression"
						},
						"ParCodEndPoint": {
							"value": "@pipeline().parameters.ParCodEndPoint",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GravaLogErroUPD",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExecutaPipelineModeloAPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PLogADFItemErroAPI]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_ERRO": {
							"value": {
								"value": "@activity('ExecutaPipelineModeloAPI').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"NOM_ALIAS_ENDPOINT": {
							"value": {
								"value": "@activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD_ENDPOINT": {
							"value": {
								"value": "@pipeline().parameters.ParCodEndPoint",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EnviaEmailDeErroUPD",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "MsgErroUPD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('ExecutaPipelineModeloAPI').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MsgErroUPD",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GravaLogErroUPD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MsgErro",
					"value": {
						"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT,']')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ParCodEndPoint": {
				"type": "int"
			}
		},
		"variables": {
			"receiver": {
				"type": "String",
				"defaultValue": "angelo.T1158.dataex@xpi.com.br"
			},
			"MsgErro": {
				"type": "String"
			},
			"FullURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"dependsOn": [
		"[concat(variables('factoryId'), '/pipelines/ADF_MODELO')]"
	]
}