pipeline/EXEC_ADF_MODELO_PARALELO.json
{
	"name": "EXEC_ADF_MODELO_PARALELO",
	"properties": {
		"activities": [
			{
				"name": "seleciona_tabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nselect NOM_SCHEMA_ORIGEM,NOM_TABELA_ORIGEM,COD_SERVIDOR from CTR_ADF_TABELA\nwhere NOM_TABELA_ORIGEM \nin\n(\n'vw_cep_dadosdoc'\n,'vw_cep_unidade' \n,'vw_cep_vendedores'\n,'vw_cep_dadosterceiros' \n,'vw_cap_municipio'\n,'vw_cap_propried' \n,'vw_cep_dadositens'\n,'vw_cap_propried_safratec'\n,'vw_cap_propried_safra' \n,'vw_cap_produtos'\n,'vw_cep_itens' \n,'vw_cep_igeconta' \n,'vw_cep_fabricante' \n,'vw_cep_tipo_estoque'\n,'vw_cep_grucontabilm'\n,'vw_ctb_produto'  \n,'vw_gen_regiao_unidade'\n,'vw_gen_regiao'\n )\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "tabela"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "executa_pipe_exec",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "seleciona_tabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('seleciona_tabelas').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "chama_exec_adf_modelo",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "EXEC_ADF_MODELO",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ParNomeSchemaOrigem": {
										"value": "@{item().NOM_SCHEMA_ORIGEM}",
										"type": "Expression"
									},
									"ParNomeTabelaOrigem": {
										"value": "@{item().NOM_TABELA_ORIGEM}",
										"type": "Expression"
									},
									"ParCodServidor": {
										"value": "@{item().COD_SERVIDOR}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-01T21:20:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}