pipeline/EXEC_ADF_MODELO_SAP_SEQUENCIAL.json
{
	"name": "EXEC_ADF_MODELO_SAP_SEQUENCIAL",
	"properties": {
		"activities": [
			{
				"name": "COD_TABELA_LK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select COD_TABELA from CTR_ADF_TABELA where  NOM_TABELA_ORIGEM in('ZTPP_RE_011','ZTPP_RE_012')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "COD_TABELA_FE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "COD_TABELA_LK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('COD_TABELA_LK').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EXEC_ADF_MODELO_SAP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "EXEC_ADF_MODELO_SAP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParCodTabela": {
										"value": "@{item().COD_TABELA}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Modelos/SAP"
		},
		"annotations": []
	}
}