pipeline/EXEC_MODELO_VTEX_ORDER_TESTE_DAT_EXPORTACAO.json
{
	"name": "EXEC_MODELO_VTEX_ORDER_TESTE_DAT_EXPORTACAO",
	"properties": {
		"activities": [
			{
				"name": "VtexOrder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DataBRZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "DATA_EXPORTACAO",
								"value": {
									"value": "@variables('DataBRZ')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['orderId']"
								},
								"sink": {
									"name": "order",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['DATA_EXPORTACAO']"
								},
								"sink": {
									"name": "data_exportacao",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['totals']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OrderDetailsJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "vtexOrder_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Vtexpayment",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['orderId']"
								},
								"sink": {
									"name": "orderId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['items'][0]['uniqueId']"
								},
								"sink": {
									"name": "uniqueId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['items'][0]['id']"
								},
								"sink": {
									"name": "idItem",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "idpayment",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['value']"
								},
								"sink": {
									"name": "value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['installments']"
								},
								"sink": {
									"name": "installments",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['referenceValue']"
								},
								"sink": {
									"name": "referenceValue",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['paymentData']['transactions'][0]['payments']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OrderDetailsJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "vtexpayment_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "recebe_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [dbo].[getdatebrz]() as DATABRZ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "tabela"
						}
					}
				}
			},
			{
				"name": "DataBRZ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "recebe_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataBRZ",
					"value": ""
				}
			}
		],
		"variables": {
			"DataBRZ": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Modelos/VTEX"
		},
		"annotations": []
	}
}