pipeline/EXEC_ADF_MODELO.json
{
	"name": "EXEC_ADF_MODELO",
	"properties": {
		"activities": [
			{
				"name": "GravaLogInicio",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFIdPacote]",
						"storedProcedureParameters": {
							"COD_SERVIDOR": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodServidor",
									"type": "Expression"
								}
							},
							"NOM_PACOTE": {
								"type": "String",
								"value": "ADF_MODELO"
							},
							"NOM_SCHEMA_ORIGEM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ParNomeSchemaOrigem",
									"type": "Expression"
								}
							},
							"NOM_TABELA_ORIGEM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ParNomeTabelaOrigem",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeTipoETLUPDATE",
				"description": "Coloquei o teste para aceitar ETLs tipo U e I para testar o processamento do Incremental no mesmo PipeLine do Update",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Variaveis-PADFIdPacote",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('TipoETL'),'U'),equals(variables('TipoETL'),'I'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutaPipelineUPDATE",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ADF_MODELO",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParNomeSchemaOrigem": {
										"value": "@replace(variables('VarNomeSchemaOrigem'),' ','')",
										"type": "Expression"
									},
									"ParIdPipeline": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"ParNomeTabelaOrigem": {
										"value": "@pipeline().parameters.ParNomeTabelaOrigem",
										"type": "Expression"
									},
									"ParNomeSchemaDestino": {
										"value": "@activity('GravaLogInicio').output.firstRow.NOM_SCHEMA_DESTINO",
										"type": "Expression"
									},
									"ParNomeAlias": {
										"value": "@activity('GravaLogInicio').output.firstRow.NOM_ALIAS",
										"type": "Expression"
									},
									"ParNomeTabelaDestino": {
										"value": "@activity('GravaLogInicio').output.firstRow.NOM_TABELA_DESTINO",
										"type": "Expression"
									},
									"ParCodServidor": {
										"value": "@pipeline().parameters.ParCodServidor",
										"type": "Expression"
									},
									"ParIndDestinoDL": {
										"value": "@variables('IndDestinoDL')",
										"type": "Expression"
									},
									"ParTipoETL": {
										"value": "@variables('TipoETL')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GravaLogErroUPD",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecutaPipelineUPDATE",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFItemErro]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DSC_ERRO": {
										"value": {
											"value": "@activity('ExecutaPipelineUPDATE').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOM_SCHEMA_ORIGEM": {
										"value": {
											"value": "@variables('VarNomeSchemaOrigem')",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOM_TABELA_ORIGEM": {
										"value": {
											"value": "@pipeline().parameters.ParNomeTabelaOrigem",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "EnviaEmailDeErroUPD",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "MsgErroUPD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-22.brazilsouth.logic.azure.com:443/workflows/7292dc89d7e8458ea76794d62aec440a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=kBNYbdSf2pk2EAyPS3uKtTxybPTTL4f6jIPeQ1S635E",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n    \"message\": \"@{activity('ExecutaPipelineUPDATE').error.message}\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{variables('MsgErro')}\",\n    \"receiver\": \"@{variables('receiver')}\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "MsgErroUPD",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GravaLogErroUPD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MsgErro",
								"value": {
									"value": "@concat('Pipeline com erro: SQL_TO_ADLS_HASH: [',variables('VarNomeSchemaOrigem'),if(equals(variables('VarNomeSchemaOrigem'),''),'','.'),pipeline().parameters.ParNomeTabelaOrigem,']')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Variaveis-PADFIdPacote",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GravaLogInicio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "IndTipoETL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TipoETL",
								"value": {
									"value": "@activity('GravaLogInicio').output.firstRow.IND_ETL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ListaDeEmails",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IndTipoETL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "receiver",
								"value": {
									"value": "@activity('GravaLogInicio').output.firstRow.DSC_EMAIL_ERRO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NomeSchemaOrigemSemNull",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ListaDeEmails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarNomeSchemaOrigem",
								"value": {
									"value": "@activity('GravaLogInicio').output.firstRow.NOM_SCHEMA_ORIGEM",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IndDestinoDL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "NomeSchemaOrigemSemNull",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "IndDestinoDL",
								"value": {
									"value": "@activity('GravaLogInicio').output.firstRow.IND_DESTINO_DL",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParNomeSchemaOrigem": {
				"type": "string",
				"defaultValue": " "
			},
			"ParNomeTabelaOrigem": {
				"type": "String"
			},
			"ParCodServidor": {
				"type": "int"
			}
		},
		"variables": {
			"receiver": {
				"type": "String",
				"defaultValue": "angelo.T1158.dataex@xpi.com.br"
			},
			"MsgErro": {
				"type": "String"
			},
			"TipoETL": {
				"type": "String"
			},
			"VarNomeSchemaOrigem": {
				"type": "String"
			},
			"IndDestinoDL": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-20T19:22:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}