pipeline/TesteUntil.json
{
	"name": "TesteUntil",
	"properties": {
		"activities": [
			{
				"name": "LeTotalPaginasArquivo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "select pages as PaginaFinal from raw_data.vtex_orders_page_total\n"
					},
					"dataset": {
						"referenceName": "wsdevbrsynapse",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PaginalFinal",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LeTotalPaginasArquivo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PaginaFinal",
					"value": {
						"value": "@activity('LeTotalPaginasArquivo').output.FirstRow.pages\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PaginaInicial": {
				"type": "String",
				"defaultValue": "1"
			},
			"PaginaFinal": {
				"type": "String",
				"defaultValue": "0"
			},
			"Contador": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	}
}