pipeline/VTEX_ORDER_01_DETAILS.json
{
	"name": "VTEX_ORDER_01_DETAILS",
	"properties": {
		"activities": [
			{
				"name": "OrderID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GravaLogInicio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select orderid from [cleansing_data].[vtex_order_list]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_DW_MALWEE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "executa downlod order detalhe",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LimpaVtexOrderDetailsOrderShippingItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OrderID').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "executa VTEX_ORDER_03_DETAILS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VTEX_ORDER_03_DETAILS_V3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ParIdPipeline": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"ParCodEndPoint": {
										"value": "@pipeline().parameters.ParCodEndPoint",
										"type": "Expression"
									},
									"ParNumeroOrder": {
										"value": "@{item().ORDERID}",
										"type": "Expression"
									},
									"ParTabelaShippingItems": {
										"value": "@concat(\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO\n)\n",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GravaLogInicio",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "5",
									"type": "Expression"
								}
							},
							"NOM_PACOTE": {
								"type": "String",
								"value": "ADF_MODELO_API"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "GravaLogErroUPD",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "executa downlod order detalhe",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PLogADFItemErroAPI]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_ERRO": {
							"value": {
								"value": "@activity('executa downlod order detalhe').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"NOM_ALIAS_ENDPOINT": {
							"value": {
								"value": "@activity('GravaLogInicio').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD_ENDPOINT": {
							"value": {
								"value": "5",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EnviaEmailDeErroUPD",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "MsgErroUPD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('executa downlod order detalhe').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MsgErroUPD",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GravaLogErroUPD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MsgErro",
					"value": {
						"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT_1,']')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "VtexOrderDetailsOrderShippingItems",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OrderID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 3\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					}
				}
			},
			{
				"name": "LimpaVtexOrderDetailsOrderShippingItems",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "VtexOrderDetailsOrderShippingItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table  ',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_DW_MALWEE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					}
				}
			}
		],
		"parameters": {
			"ParCodEndPoint": {
				"type": "string",
				"defaultValue": "5"
			}
		},
		"variables": {
			"DATA_HORA_EXPORTACAO": {
				"type": "String"
			},
			"MsgErro": {
				"type": "String"
			},
			"receiver": {
				"type": "String"
			},
			"FullURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	}
}