pipeline/VTEX_ORDER_01_DETAILS_copy1.json
{
	"name": "VTEX_ORDER_01_DETAILS_copy1",
	"properties": {
		"activities": [
			{
				"name": "CapturaDataExportacao",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GravaLogInicio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select   CONVERT(VARCHAR(16),DAT_ULTI_PROCESSAMENTO,120)+':00' as DATA_HORA_EXPORTACAO \nfrom CTR_ADF_API_ENDPOINT where COD_ENDPOINT = 4\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					}
				}
			},
			{
				"name": "DataExportacao",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CapturaDataExportacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATA_HORA_EXPORTACAO",
					"value": {
						"value": "@activity('CapturaDataExportacao').output.FirstRow.DATA_HORA_EXPORTACAO\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OrderID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DataExportacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_VTEX_RETORNA_ORDERID_PENDENTE]",
						"storedProcedureParameters": {
							"DATA_HORA_EXPORTACAO": {
								"type": "String",
								"value": {
									"value": "@variables('DATA_HORA_EXPORTACAO')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "wsdevbrsynapse",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "executa downlod order detalhe",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OrderID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OrderID').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "executa VTEX_ORDER_03_DETAILS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VTEX_ORDER_03_DETAILS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ParIdPipeline": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"ParCodEndPoint": {
										"value": "5",
										"type": "Expression"
									},
									"ParNumeroOrder": {
										"value": "@{item().ORDERID}",
										"type": "Expression"
									},
									"ParRelativeURL": {
										"value": "@(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA\n",
										"type": "Expression"
									},
									"ParAppToken": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1",
										"type": "Expression"
									},
									"ParAppKey": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
										"type": "Expression"
									},
									"ParNomeAliasEndPoint": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
										"type": "Expression"
									},
									"ParRegiao": {
										"value": "@activity('LeCredenciaisOrigem').output.firstRow.NOM_REGION",
										"type": "Expression"
									},
									"ParSistemaOrigem": {
										"value": "@activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM",
										"type": "Expression"
									},
									"ParFormatoArquivo_1": {
										"value": "@activity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1",
										"type": "Expression"
									},
									"ParDataProcessamento": {
										"value": "@activity('LeCredenciaisOrigem').output.firstRow.DAT_PROCESSAMENTO",
										"type": "Expression"
									},
									"ParContainerRaw": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
										"type": "Expression"
									},
									"ParFormatoArquivo_2": {
										"value": "@activity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2",
										"type": "Expression"
									},
									"ParContainerCleansing": {
										"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GravaLogInicio",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "5",
									"type": "Expression"
								}
							},
							"NOM_PACOTE": {
								"type": "String",
								"value": "ADF_MODELO_API"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:30",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:00:30",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			}
		],
		"parameters": {
			"ParCodEndPoint": {
				"type": "string",
				"defaultValue": "5"
			}
		},
		"variables": {
			"DATA_HORA_EXPORTACAO": {
				"type": "String"
			},
			"MsgErro": {
				"type": "String"
			},
			"receiver": {
				"type": "String"
			},
			"FullURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	}
}