pipeline/VTEX_ORDER_03_DETAILS_DATA_LAKE.json
{
	"name": "VTEX_ORDER_03_DETAILS_DATA_LAKE",
	"properties": {
		"activities": [
			{
				"name": "GravaLogFim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SeAPI_JSON_TO_DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PADFIdPacoteFIM]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@pipeline().parameters.ParIdPipeline",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_PARAMETROS": {
							"value": {
								"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_BASE,variables('RalativeURL'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD": {
							"value": {
								"value": "@pipeline().parameters.ParCodEndPoint",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_TIPO": {
							"value": "API",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeAPI_JSON_TO_DL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "API_JSON_TO_ORDER_HEADER_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sequence",
												"type": "String"
											},
											"sink": {
												"name": "sequence",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "marketplaceOrderId",
												"type": "String"
											},
											"sink": {
												"name": "marketplaceOrderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sellerOrderId",
												"type": "String"
											},
											"sink": {
												"name": "sellerOrderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "origin",
												"type": "String"
											},
											"sink": {
												"name": "origin",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "affiliateId",
												"type": "String"
											},
											"sink": {
												"name": "affiliateId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "salesChannel",
												"type": "String"
											},
											"sink": {
												"name": "salesChannel",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "merchantName",
												"type": "String"
											},
											"sink": {
												"name": "merchantName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "status",
												"type": "String"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "statusDescription",
												"type": "String"
											},
											"sink": {
												"name": "statusDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "value",
												"type": "String"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "creationDate",
												"type": "String"
											},
											"sink": {
												"name": "creationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "orderGroup",
												"type": "String"
											},
											"sink": {
												"name": "orderGroup",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaHeader",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaHeader,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_TOTALS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "id",
												"type": "String"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "value",
												"type": "String"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "String"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaTotals",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderTotalsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaTotals,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_ITEMS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "uniqueId",
												"type": "String"
											},
											"sink": {
												"name": "uniqueId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "id_item",
												"type": "String"
											},
											"sink": {
												"name": "id_item",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ean",
												"type": "String"
											},
											"sink": {
												"name": "ean",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lockId",
												"type": "String"
											},
											"sink": {
												"name": "lockId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "quantity",
												"type": "String"
											},
											"sink": {
												"name": "quantity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "seller",
												"type": "String"
											},
											"sink": {
												"name": "seller",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "refId",
												"type": "String"
											},
											"sink": {
												"name": "refId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "price",
												"type": "String"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "listPrice",
												"type": "String"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "imageUrl",
												"type": "String"
											},
											"sink": {
												"name": "imageUrl",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "brandName",
												"type": "String"
											},
											"sink": {
												"name": "brandName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "brandId",
												"type": "String"
											},
											"sink": {
												"name": "brandId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categoriesIds",
												"type": "String"
											},
											"sink": {
												"name": "categoriesIds",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_id_1",
												"type": "String"
											},
											"sink": {
												"name": "categories_id_1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_name_1",
												"type": "String"
											},
											"sink": {
												"name": "categories_name_1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_id_2",
												"type": "String"
											},
											"sink": {
												"name": "categories_id_2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_name_2",
												"type": "String"
											},
											"sink": {
												"name": "categories_name_2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_id_3",
												"type": "String"
											},
											"sink": {
												"name": "categories_id_3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "categories_name_3",
												"type": "String"
											},
											"sink": {
												"name": "categories_name_3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaOrderItems",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderItemsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaOrderItems,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_CLIENT_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "email",
												"type": "String"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "firstName",
												"type": "String"
											},
											"sink": {
												"name": "firstName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lastName",
												"type": "String"
											},
											"sink": {
												"name": "lastName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "documentType",
												"type": "String"
											},
											"sink": {
												"name": "documentType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "document",
												"type": "String"
											},
											"sink": {
												"name": "document",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "phone",
												"type": "String"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "street",
												"type": "String"
											},
											"sink": {
												"name": "street",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaClient",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderClientParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaClient,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_PAYMENT_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iditems",
												"type": "String"
											},
											"sink": {
												"name": "iditems",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "paymentSystem",
												"type": "String"
											},
											"sink": {
												"name": "paymentSystem",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "paymentSystemName",
												"type": "String"
											},
											"sink": {
												"name": "paymentSystemName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "value",
												"type": "String"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "installments",
												"type": "String"
											},
											"sink": {
												"name": "installments",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "referenceValue",
												"type": "String"
											},
											"sink": {
												"name": "referenceValue",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaPayment",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderPaymentParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaPayment,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_SHIPPING_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "addressType",
												"type": "String"
											},
											"sink": {
												"name": "addressType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "receiverName",
												"type": "String"
											},
											"sink": {
												"name": "receiverName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "addressId",
												"type": "String"
											},
											"sink": {
												"name": "addressId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "postalCode",
												"type": "String"
											},
											"sink": {
												"name": "postalCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "state",
												"type": "String"
											},
											"sink": {
												"name": "state",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String"
											},
											"sink": {
												"name": "country",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "street",
												"type": "String"
											},
											"sink": {
												"name": "street",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "number",
												"type": "String"
											},
											"sink": {
												"name": "number",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "neighborhood",
												"type": "String"
											},
											"sink": {
												"name": "neighborhood",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "complement",
												"type": "String"
											},
											"sink": {
												"name": "complement",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "reference",
												"type": "String"
											},
											"sink": {
												"name": "reference",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "geoCoordinates_x",
												"type": "String"
											},
											"sink": {
												"name": "geoCoordinates_x",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "geoCoordinates_y",
												"type": "String"
											},
											"sink": {
												"name": "geoCoordinates_y",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaShipping",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaShipping,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "itemIndex",
												"type": "String"
											},
											"sink": {
												"name": "itemIndex",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "selectedSla",
												"type": "String"
											},
											"sink": {
												"name": "selectedSla",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lockTTL",
												"type": "String"
											},
											"sink": {
												"name": "lockTTL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "price",
												"type": "String"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "listPrice",
												"type": "String"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sellingPrice",
												"type": "String"
											},
											"sink": {
												"name": "sellingPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "deliveryWindow",
												"type": "String"
											},
											"sink": {
												"name": "deliveryWindow",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "deliveryCompany",
												"type": "String"
											},
											"sink": {
												"name": "deliveryCompany",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shippingEstimate",
												"type": "String"
											},
											"sink": {
												"name": "shippingEstimate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shippingEstimateDate",
												"type": "String"
											},
											"sink": {
												"name": "shippingEstimateDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaShippingItems",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingItemsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(\nconcat(\npipeline().parameters.ParTabelaShippingItems,\n'_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ParIdPipeline": {
				"type": "String"
			},
			"ParCodEndPoint": {
				"type": "int"
			},
			"ParTabelaShippingItems": {
				"type": "string"
			},
			"ParTabelaShipping": {
				"type": "string"
			},
			"ParTabelaPayment": {
				"type": "string"
			},
			"ParTabelaClient": {
				"type": "string"
			},
			"ParTabelaOrderItems": {
				"type": "string"
			},
			"ParTabelaTotals": {
				"type": "string"
			},
			"ParTabelaHeader": {
				"type": "string"
			}
		},
		"variables": {
			"receiver": {
				"type": "String"
			},
			"RalativeURL": {
				"type": "String"
			},
			"SizeArquivo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"AppToken": {
				"type": "String"
			},
			"AppKey": {
				"type": "String"
			},
			"DataHoraProcessamento": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}