pipeline/VTEX_ORDER_03_DETAILS_V3.json
{
	"name": "VTEX_ORDER_03_DETAILS_V3",
	"properties": {
		"activities": [
			{
				"name": "GravaLogFim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SeAPI_JSON_TO_DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PADFIdPacoteFIM]",
					"storedProcedureParameters": {
						"COD_LOG": {
							"value": {
								"value": "@pipeline().parameters.ParIdPipeline",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_PARAMETROS": {
							"value": {
								"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_BASE,variables('RalativeURL'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"COD": {
							"value": {
								"value": "@pipeline().parameters.ParCodEndPoint",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DSC_TIPO": {
							"value": "API",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_CONTROLE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SeAPI_JSON_TO_DL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GravaVariaveis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_API_JSON_TO_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"X-VTEX-API-AppToken": {
											"value": "@variables('AppToken')",
											"type": "Expression"
										},
										"x-vtex-api-appkey": {
											"value": "@variables('AppKey')",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestVTEX",
									"type": "DatasetReference",
									"parameters": {
										"ParRelativeURL": {
											"value": "@variables('RalativeURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_HEADER_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_TOTALS_PARQUET_CLEANSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['sequence']"
											},
											"sink": {
												"name": "sequence",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['marketplaceOrderId']"
											},
											"sink": {
												"name": "marketplaceOrderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['sellerOrderId']"
											},
											"sink": {
												"name": "sellerOrderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['origin']"
											},
											"sink": {
												"name": "origin",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['affiliateId']"
											},
											"sink": {
												"name": "affiliateId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['salesChannel']"
											},
											"sink": {
												"name": "salesChannel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['merchantName']"
											},
											"sink": {
												"name": "merchantName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['statusDescription']"
											},
											"sink": {
												"name": "statusDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['value']"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['creationDate']"
											},
											"sink": {
												"name": "creationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['orderGroup']"
											},
											"sink": {
												"name": "orderGroup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_TOTALS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_ITEMS_PARQUET_CLEANSGIN",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "total_items_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "total_items_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['value']"
											},
											"sink": {
												"name": "total_items_value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['totals']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderTotalsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_ITEMS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_CLIENT_PARQUET_CLEANSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['uniqueId']"
											},
											"sink": {
												"name": "uniqueid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ean']"
											},
											"sink": {
												"name": "ean",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['lockId']"
											},
											"sink": {
												"name": "lockId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['quantity']"
											},
											"sink": {
												"name": "quantity",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['seller']"
											},
											"sink": {
												"name": "seller",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['refId']"
											},
											"sink": {
												"name": "refId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['listPrice']"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['imageUrl']"
											},
											"sink": {
												"name": "imageUrl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['brandName']"
											},
											"sink": {
												"name": "brandName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['brandId']"
											},
											"sink": {
												"name": "brandId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categoriesIds']"
											},
											"sink": {
												"name": "categoriesIds",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][0]['id']"
											},
											"sink": {
												"name": "categories_id_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][0]['name']"
											},
											"sink": {
												"name": "categories_name_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][1]['id']"
											},
											"sink": {
												"name": "categories_id_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][1]['name']"
											},
											"sink": {
												"name": "categories_name_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][2]['id']"
											},
											"sink": {
												"name": "categories_id_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][2]['name']"
											},
											"sink": {
												"name": "categories_name_3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['items']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderItemsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_CLIENT_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_PAYMENT_PARQUET_CLEANSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['email']"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['firstName']"
											},
											"sink": {
												"name": "firstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['lastName']"
											},
											"sink": {
												"name": "lastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['documentType']"
											},
											"sink": {
												"name": "documentType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['document']"
											},
											"sink": {
												"name": "document",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['phone']"
											},
											"sink": {
												"name": "phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['street']"
											},
											"sink": {
												"name": "street",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO"
											}
										}
									],
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderClientParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_client_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_PAYMENT_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_SHIPPING_PARQUET_CLEANSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['payments'][0]['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payments'][0]['paymentSystemName']"
											},
											"sink": {
												"name": "paymentSystemName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payments'][0]['paymentSystem']"
											},
											"sink": {
												"name": "paymentSystem",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payments'][0]['installments']"
											},
											"sink": {
												"name": "installments",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payments'][0]['referenceValue']"
											},
											"sink": {
												"name": "referenceValue",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payments'][0]['value']"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "OrderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO"
											}
										}
									],
									"collectionReference": "$['paymentData']['transactions']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderPaymentParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_payment_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_SHIPPING_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_SQL_ORDER_SHIPPING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['addressType']"
											},
											"sink": {
												"name": "addressType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['receiverName']"
											},
											"sink": {
												"name": "receiverName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['addressId']"
											},
											"sink": {
												"name": "addressId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['postalCode']"
											},
											"sink": {
												"name": "postalCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['city']"
											},
											"sink": {
												"name": "city",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['state']"
											},
											"sink": {
												"name": "state",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['country']"
											},
											"sink": {
												"name": "country",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['street']"
											},
											"sink": {
												"name": "street",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['number']"
											},
											"sink": {
												"name": "number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['neighborhood']"
											},
											"sink": {
												"name": "neighborhood",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['complement']"
											},
											"sink": {
												"name": "complement",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['reference']"
											},
											"sink": {
												"name": "reference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['geoCoordinates']"
											},
											"sink": {
												"name": "geoCoordinates_X",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['address']['geoCoordinates'][1]"
											},
											"sink": {
												"name": "geoCoordinates_Y",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO"
											}
										}
									],
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_SQL_ORDER_SHIPPING_ITEMS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderId",
												"type": "String"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "itemIndex",
												"type": "String"
											},
											"sink": {
												"name": "itemIndex",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "selectedSla",
												"type": "String"
											},
											"sink": {
												"name": "selectedSla",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "lockTTL",
												"type": "String"
											},
											"sink": {
												"name": "lockTTL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "price",
												"type": "String"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "listPrice",
												"type": "String"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sellingPrice",
												"type": "String"
											},
											"sink": {
												"name": "sellingPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "deliveryWindow",
												"type": "String"
											},
											"sink": {
												"name": "deliveryWindow",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "deliveryCompany",
												"type": "String"
											},
											"sink": {
												"name": "deliveryCompany",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shippingEstimate",
												"type": "String"
											},
											"sink": {
												"name": "shippingEstimate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "shippingEstimateDate",
												"type": "String"
											},
											"sink": {
												"name": "shippingEstimateDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaShippingItems",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingItemsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_HEADER_PARQUET_CLEANSING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_HEADER_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderParquetCleasing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/'))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_header.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_TOTALS_PARQUET_CLEANSING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_TOTALS_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderTotalsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderTotalsParquetCleansing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/'))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_PAYMENT_PARQUET_CLEANSING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_PAYMENT_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderPaymentParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_payment_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderPaymentParquetCleansing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/'))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_payment.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_SHIPPING_PARQUET_CLEANSING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_SHIPPING_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderShippingParquetCleansing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/'))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_ITEMS_PARQUET_CLEANSGIN",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_ITEMS_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderItemsParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderItemsParquetCleasing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/'))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_items.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_ORDER_CLIENT_PARQUET_CLEANSING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_CLIENT_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrderClientParquet",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_client_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VtexOrderDetailsOrderClientParquetCleasing",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/'))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_client.parquet'))",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PLogADFItemAPI",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_HEADER_PARQUET_CLEANSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PLogADFOrderAPI]",
								"storedProcedureParameters": {
									"COD_LOG": {
										"value": {
											"value": "@pipeline().parameters.ParIdPipeline",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"NUM_ORDER": {
										"value": {
											"value": "@pipeline().parameters.ParNumeroOrder",
											"type": "Expression"
										},
										"type": "String"
									},
									"URL_ORDEM": {
										"value": {
											"value": "@variables('RalativeURL')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_CONTROLE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "API_JSON_TO_SQL_ORDER_SHIPPING_ITEMS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_API_JSON_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "data_hora_exportacao",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['itemIndex']"
											},
											"sink": {
												"name": "itemIndex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['selectedSla']"
											},
											"sink": {
												"name": "selectedSla",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['lockTTL']"
											},
											"sink": {
												"name": "lockTTL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['listPrice']"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['sellingPrice']"
											},
											"sink": {
												"name": "sellingPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['deliveryWindow']"
											},
											"sink": {
												"name": "deliveryWindow",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['deliveryCompany']"
											},
											"sink": {
												"name": "deliveryCompany",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shippingEstimate']"
											},
											"sink": {
												"name": "shippingEstimate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['shippingEstimateDate']"
											},
											"sink": {
												"name": "shippingEstimateDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data_hora_exportacao']"
											},
											"sink": {
												"name": "data_hora_exportacao",
												"type": "DateTime"
											}
										}
									],
									"collectionReference": "$['shippingData']['logisticsInfo']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaShippingItems",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "API_JSON_TO_SQL_ORDER_SHIPPING",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "data_hora_exportacao",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['orderId']"
											},
											"sink": {
												"name": "orderId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['sequence']"
											}
										},
										{
											"source": {
												"path": "$['marketplaceOrderId']"
											}
										},
										{
											"source": {
												"path": "$['marketplaceServicesEndpoint']"
											}
										},
										{
											"source": {
												"path": "$['sellerOrderId']"
											}
										},
										{
											"source": {
												"path": "$['origin']"
											}
										},
										{
											"source": {
												"path": "$['affiliateId']"
											}
										},
										{
											"source": {
												"path": "$['salesChannel']"
											}
										},
										{
											"source": {
												"path": "$['merchantName']"
											}
										},
										{
											"source": {
												"path": "$['status']"
											}
										},
										{
											"source": {
												"path": "$['statusDescription']"
											}
										},
										{
											"source": {
												"path": "$['value']"
											}
										},
										{
											"source": {
												"path": "$['creationDate']"
											}
										},
										{
											"source": {
												"path": "$['lastChange']"
											}
										},
										{
											"source": {
												"path": "$['orderGroup']"
											}
										},
										{
											"source": {
												"path": "$['totals'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['totals'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['totals'][0]['value']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['uniqueId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['productId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['ean']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['lockId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['itemAttachment']['content']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['itemAttachment']['name']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['attachments']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['quantity']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['seller']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['refId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['listPrice']"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['manualPrice']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['value']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['isPercentual']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['identifier']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['rawValue']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['rate']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['jurisCode']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['jurisType']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceTags'][0]['jurisName']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['imageUrl']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['detailUrl']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['components']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['bundleItems']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['params']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['offerings']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['sellerSku']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceValidUntil']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['commission']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['tax']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['preSaleDate']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['brandName']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['brandId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categoriesIds']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['categories'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['productClusterId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['commercialConditionId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['dimension']['cubicweight']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['dimension']['height']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['dimension']['length']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['dimension']['weight']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['dimension']['width']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['offeringInfo']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['offeringType']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['additionalInfo']['offeringTypeId']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['measurementUnit']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['unitMultiplier']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['sellingPrice']"
											},
											"sink": {
												"name": "sellingPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['isGift']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['shippingPrice']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['rewardValue']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['freightCommission']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['priceDefinitions']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['taxCode']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['parentItemIndex']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['parentAssemblyBinding']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['callCenterOperator']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['serialNumbers']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['assemblies']"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['costPrice']"
											}
										},
										{
											"source": {
												"path": "$['marketplaceItems']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['id']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['email']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['firstName']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['lastName']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['documentType']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['document']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['phone']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['corporateName']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['tradeName']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['corporateDocument']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['stateInscription']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['corporatePhone']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['isCorporate']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['userProfileId']"
											}
										},
										{
											"source": {
												"path": "$['clientProfileData']['customerClass']"
											}
										},
										{
											"source": {
												"path": "$['giftRegistryData']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['id']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmSource']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmPartner']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmMedium']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmCampaign']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['coupon']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmiCampaign']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmipage']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['utmiPart']"
											}
										},
										{
											"source": {
												"path": "$['marketingData']['marketingTags']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['id']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['description']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['featured']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['matchedParameters']['couponCode@Marketing']"
											}
										},
										{
											"source": {
												"path": "$['ratesAndBenefitsData']['rateAndBenefitsIdentifiers'][0]['additionalInfo']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['id']"
											}
										},
										{
											"source": {
												"path": "['addressType']"
											}
										},
										{
											"source": {
												"path": "['receiverName']"
											}
										},
										{
											"source": {
												"path": "['addressId']"
											}
										},
										{
											"source": {
												"path": "['postalCode']"
											}
										},
										{
											"source": {
												"path": "['city']"
											}
										},
										{
											"source": {
												"path": "['state']"
											}
										},
										{
											"source": {
												"path": "['country']"
											}
										},
										{
											"source": {
												"path": "['street']"
											}
										},
										{
											"source": {
												"path": "['number']"
											}
										},
										{
											"source": {
												"path": "['neighborhood']"
											}
										},
										{
											"source": {
												"path": "['complement']"
											}
										},
										{
											"source": {
												"path": "['reference']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['itemIndex']"
											},
											"sink": {
												"name": "itemIndex",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['selectedSla']"
											},
											"sink": {
												"name": "selectedSla",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['lockTTL']"
											},
											"sink": {
												"name": "lockTTL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['listPrice']"
											},
											"sink": {
												"name": "listPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['sellingPrice']"
											},
											"sink": {
												"name": "sellingPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryWindow']"
											},
											"sink": {
												"name": "deliveryWindow",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryCompany']"
											},
											"sink": {
												"name": "deliveryCompany",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['shippingEstimate']"
											},
											"sink": {
												"name": "shippingEstimate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['shippingEstimateDate']"
											},
											"sink": {
												"name": "shippingEstimateDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['shippingEstimate']"
											},
											"sink": {
												"name": "shippingEstimate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['deliveryWindow']"
											},
											"sink": {
												"name": "deliveryWindow",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['deliveryChannel']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupStoreInfo']['additionalInfo']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupStoreInfo']['address']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupStoreInfo']['dockId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupStoreInfo']['friendlyName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupStoreInfo']['isPickupStore']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['polygonName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['lockTTL']"
											},
											"sink": {
												"name": "lockTTL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['pickupPointId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['slas'][0]['transitTime']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['shipsTo']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['courierId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['courierName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['dockId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['quantity']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['warehouseId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryIds'][0]['accountCarrierName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['deliveryChannel']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupStoreInfo']['additionalInfo']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupStoreInfo']['address']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupStoreInfo']['dockId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupStoreInfo']['friendlyName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupStoreInfo']['isPickupStore']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['addressId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['polygonName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['pickupPointId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['logisticsInfo'][0]['transitTime']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['trackingHints']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['addressId']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['addressType']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['receiverName']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['street']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['number']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['complement']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['neighborhood']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['postalCode']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['city']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['state']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['country']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['reference']"
											}
										},
										{
											"source": {
												"path": "$['shippingData']['selectedAddresses'][0]['geoCoordinates']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['giftCards']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['isActive']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['transactionId']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['merchantName']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['paymentSystem']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['paymentSystemName']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['value']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['installments']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['referenceValue']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['cardHolder']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['cardNumber']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['firstDigits']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['lastDigits']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['cvv2']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['expireMonth']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['expireYear']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['url']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['giftCardId']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['giftCardName']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['giftCardCaption']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['redemptionCode']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['group']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['tid']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['dueDate']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['connectorResponses']['Tid']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['connectorResponses']['ReturnCode']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['connectorResponses']['Message']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['connectorResponses']['nsu']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['connectorResponses']['acquirer']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['giftCardProvider']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['giftCardAsDiscount']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['koinUrl']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['accountId']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['parentAccountId']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['bankIssuedInvoiceIdentificationNumber']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['bankIssuedInvoiceIdentificationNumberFormatted']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['bankIssuedInvoiceBarCodeNumber']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['bankIssuedInvoiceBarCodeType']"
											}
										},
										{
											"source": {
												"path": "$['paymentData']['transactions'][0]['payments'][0]['billingAddress']"
											}
										},
										{
											"source": {
												"path": "$['packageAttachment']['packages']"
											}
										},
										{
											"source": {
												"path": "$['sellers'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['sellers'][0]['name']"
											}
										},
										{
											"source": {
												"path": "$['sellers'][0]['logo']"
											}
										},
										{
											"source": {
												"path": "$['sellers'][0]['fulfillmentEndpoint']"
											}
										},
										{
											"source": {
												"path": "$['callCenterOperatorData']"
											}
										},
										{
											"source": {
												"path": "$['followUpEmail']"
											}
										},
										{
											"source": {
												"path": "$['lastMessage']"
											}
										},
										{
											"source": {
												"path": "$['hostname']"
											}
										},
										{
											"source": {
												"path": "$['invoiceData']"
											}
										},
										{
											"source": {
												"path": "$['changesAttachment']"
											}
										},
										{
											"source": {
												"path": "$['openTextField']"
											}
										},
										{
											"source": {
												"path": "$['roundingError']"
											}
										},
										{
											"source": {
												"path": "$['orderFormId']"
											}
										},
										{
											"source": {
												"path": "$['commercialConditionData']"
											}
										},
										{
											"source": {
												"path": "$['isCompleted']"
											}
										},
										{
											"source": {
												"path": "$['customData']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['countryCode']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyCode']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyFormatInfo']['CurrencyDecimalDigits']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyFormatInfo']['CurrencyDecimalSeparator']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyFormatInfo']['CurrencyGroupSeparator']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyFormatInfo']['CurrencyGroupSize']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyFormatInfo']['StartsWithCurrencySymbol']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencyLocale']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['currencySymbol']"
											}
										},
										{
											"source": {
												"path": "$['storePreferencesData']['timeZone']"
											}
										},
										{
											"source": {
												"path": "$['allowCancellation']"
											}
										},
										{
											"source": {
												"path": "$['allowEdition']"
											}
										},
										{
											"source": {
												"path": "$['isCheckedIn']"
											}
										},
										{
											"source": {
												"path": "$['marketplace']['baseURL']"
											}
										},
										{
											"source": {
												"path": "$['marketplace']['isCertified']"
											}
										},
										{
											"source": {
												"path": "$['marketplace']['name']"
											}
										},
										{
											"source": {
												"path": "$['authorizedDate']"
											}
										},
										{
											"source": {
												"path": "$['invoicedDate']"
											}
										},
										{
											"source": {
												"path": "$['cancelReason']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['Id']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['Seller']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['Name']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['SkuName']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['ProductId']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['RefId']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['Ean']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['ImageUrl']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['DetailUrl']"
											}
										},
										{
											"source": {
												"path": "$['itemMetadata']['Items'][0]['AssemblyOptions']"
											}
										},
										{
											"source": {
												"path": "$['subscriptionData']"
											}
										},
										{
											"source": {
												"path": "$['taxData']"
											}
										},
										{
											"source": {
												"path": "$['checkedInPickupPointId']"
											}
										},
										{
											"source": {
												"path": "$['cancellationData']"
											}
										},
										{
											"source": {
												"path": "$['data_hora_exportacao']"
											}
										}
									],
									"collectionReference": "$['shippingData']['address']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "VtexOrderDetailsOrder",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
											"type": "Expression"
										},
										"FileSystem": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@pipeline().parameters.ParTabelaShippingItems",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "GravaVariaveis",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "RelativeURL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RalativeURL",
								"value": {
									"value": "@concat(\nactivity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\npipeline().parameters.ParNumeroOrder)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppToken",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppToken",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppKey",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppKey",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			}
		],
		"parameters": {
			"ParIdPipeline": {
				"type": "String"
			},
			"ParCodEndPoint": {
				"type": "int"
			},
			"ParNumeroOrder": {
				"type": "string"
			},
			"ParTabelaShippingItems": {
				"type": "string"
			}
		},
		"variables": {
			"receiver": {
				"type": "String"
			},
			"RalativeURL": {
				"type": "String"
			},
			"SizeArquivo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PathRaw": {
				"type": "String"
			},
			"AppToken": {
				"type": "String"
			},
			"AppKey": {
				"type": "String"
			},
			"DataHoraProcessamento": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}