pipeline/VTEX_ORDER_01_TOTAL_PAGINA_DB.json
{
	"name": "VTEX_ORDER_01_TOTAL_PAGINA_DB",
	"properties": {
		"activities": [
			{
				"name": "LeCredenciaisOrigem",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciaisAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "SeAPI_JSON_TO_DL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "TotalPaginas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_API_JSON_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "AppKey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:00:15",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "DATA_HORA_EXPORTACAO",
											"value": {
												"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"X-VTEX-API-AppToken": {
											"value": "@variables('AppToken')",
											"type": "Expression"
										},
										"x-vtex-api-appkey": {
											"value": "@variables('AppKey')",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestVTEX",
									"type": "DatasetReference",
									"parameters": {
										"ParRelativeURL": {
											"value": "@variables('RelativeURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": "brazil/vtex/vtex_order_page_total/",
										"FileName": "vtex_order_page_total.json",
										"FileSystem": "raw"
									}
								}
							]
						},
						{
							"name": "RelativeURL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RelativeURL",
								"value": {
									"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\n'[',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX,\n' TO ',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX,\n']',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_3,\n'100',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,\nstring(pipeline().parameters.ParPagina)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppToken",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "RelativeURL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppToken",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AppKey",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AppToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppKey",
								"value": {
									"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "API_JSON_TO_SQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_API_JSON_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:00:15",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['paging']['total']"
											},
											"sink": {
												"name": "total",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['paging']['pages']"
											},
											"sink": {
												"name": "pages",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['paging']['currentPage']"
											},
											"sink": {
												"name": "currentPage",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['paging']['perPage']"
											},
											"sink": {
												"name": "perPage",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['DATA_HORA_EXPORTACAO']"
											},
											"sink": {
												"name": "DATA_HORA_EXPORTACAO"
											}
										}
									],
									"collectionReference": "$['list']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": "brazil/vtex/vtex_order_page_total/",
										"FileName": "vtex_order_page_total.json",
										"FileSystem": "raw"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_DS_DW_MALWEE",
									"type": "DatasetReference",
									"parameters": {
										"NomeTabela": {
											"value": "@concat(\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO\n)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LeDataProcessamento",
				"description": "Recupera a data de processamento da tabela de controle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeCredenciaisOrigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFDataProcessamentoAPI]",
						"storedProcedureParameters": {
							"COD_ENDPOINT": {
								"type": "int",
								"value": {
									"value": "@pipeline().parameters.ParCodEndPoint\n",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			},
			{
				"name": "TotalPaginas",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeDataProcessamento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select NOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO from [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "TABELA"
						}
					}
				}
			}
		],
		"parameters": {
			"ParCodEndPoint": {
				"type": "int"
			},
			"ParPagina": {
				"type": "int"
			}
		},
		"variables": {
			"AppToken": {
				"type": "String"
			},
			"AppKey": {
				"type": "String"
			},
			"RelativeURL": {
				"type": "String"
			},
			"PaginaFinal": {
				"type": "String",
				"defaultValue": "0"
			},
			"Contador": {
				"type": "String",
				"defaultValue": "0"
			},
			"IndexValue": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Modelos/API JSON/VTEX"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}