adf-dev-br-datalake/pipeline/EXEC_CRC_RESULT.json
{
	"name": "EXEC_CRC_RESULT",
	"properties": {
		"activities": [
			{
				"name": "nb_data_mart_envio_1_1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "LeCredenciaisDBorigem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('path_notebook_datamart_envio')",
						"type": "Expression"
					},
					"baseParameters": {
						"path_delta": {
							"value": "@variables('path_delta')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADB_ETL",
					"type": "LinkedServiceReference",
					"parameters": {
						"condatabricksurl": {
							"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SECRET_CON_DATABRICKS",
							"type": "Expression"
						},
						"pwddatabricks": {
							"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SECRET_PWD_DATABRICKS",
							"type": "Expression"
						},
						"nomcluster": {
							"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SECRET_CLUSTER_ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "path_notebook_datamart_envio",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "wait_time_seg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "path_notebook_datamart_envio",
					"value": "/crc_result/crc_result_control"
				}
			},
			{
				"name": "wait_time_seg",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "wait_time_seg",
					"value": "300"
				}
			},
			{
				"name": "LeCredenciaisDBorigem",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "path_notebook_datamart_envio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciais]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "Int32",
								"value": "43"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS_CONTROLE",
						"type": "DatasetReference",
						"parameters": {
							"NomeTabela": "Tabela"
						}
					}
				}
			}
		],
		"variables": {
			"dat_atual_processamento": {
				"type": "String"
			},
			"path_delta": {
				"type": "String"
			},
			"path_notebook_datamart": {
				"type": "String"
			},
			"path_notebook_datamart_envio": {
				"type": "String"
			},
			"wait_time_seg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Malhas/CRCRESULT"
		},
		"annotations": [],
		"lastPublishTime": "2020-11-24T17:55:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}