adf-dev-br-analytics2/PartialArmTemplates/ArmTemplate_3_28_2021_20_21_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-br-analytics2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OrderID",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select orderid from [cleansing_data].[vtex_order_list]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "executa downlod order detalhe",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LimpaVtexOrderDetailsOrderShippingItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OrderID').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "executa VTEX_ORDER_03_DETAILS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_03_DETAILS_V3",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"ParIdPipeline": {
												"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
												"type": "Expression"
											},
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParNumeroOrder": {
												"value": "@{item().ORDERID}",
												"type": "Expression"
											},
											"ParTabelaShippingItems": {
												"value": "@concat(\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GravaLogInicio",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "5",
											"type": "Expression"
										}
									},
									"NOM_PACOTE": {
										"type": "String",
										"value": "ADF_MODELO_API"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "GravaLogErroUPD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "executa downlod order detalhe",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PLogADFItemErroAPI]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_ERRO": {
									"value": {
										"value": "@activity('executa downlod order detalhe').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"NOM_ALIAS_ENDPOINT": {
									"value": {
										"value": "@activity('GravaLogInicio').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD_ENDPOINT": {
									"value": {
										"value": "5",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EnviaEmailDeErroUPD",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "MsgErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('executa downlod order detalhe').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MsgErroUPD",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GravaLogErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MsgErro",
							"value": {
								"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT_1,']')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "VtexOrderDetailsOrderShippingItems",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "OrderID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 3\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LimpaVtexOrderDetailsOrderShippingItems",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VtexOrderDetailsOrderShippingItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "string",
						"defaultValue": "5"
					}
				},
				"variables": {
					"DATA_HORA_EXPORTACAO": {
						"type": "String"
					},
					"MsgErro": {
						"type": "String"
					},
					"receiver": {
						"type": "String"
					},
					"FullURL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VTEX_ORDER_03_DETAILS_V3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_TOTAL_PAGINA_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LeCredenciaisOrigem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFCredenciaisAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "SeAPI_JSON_TO_DL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LimpaTotalPagina",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_API_JSON_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "AppKey",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "data_hora_exportacao",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"X-VTEX-API-AppToken": {
													"value": "@variables('AppToken')",
													"type": "Expression"
												},
												"x-vtex-api-appkey": {
													"value": "@variables('AppKey')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestVTEX",
											"type": "DatasetReference",
											"parameters": {
												"ParRelativeURL": {
													"value": "@variables('RelativeURL')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									]
								},
								{
									"name": "RelativeURL",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RelativeURL",
										"value": {
											"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\n'[',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX,\n' TO ',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX,\n']',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_3,\n'100',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,\nstring(pipeline().parameters.ParPagina)\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppToken",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "RelativeURL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppToken",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppKey",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "AppToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppKey",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "API_JSON_TO_SQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_API_JSON_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['paging']['total']"
													},
													"sink": {
														"name": "total",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['pages']"
													},
													"sink": {
														"name": "pages",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['currentPage']"
													},
													"sink": {
														"name": "currentPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['perPage']"
													},
													"sink": {
														"name": "perPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['data_hora_exportacao']"
													},
													"sink": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													}
												}
											],
											"collectionReference": "",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_DS_DW_MALWEE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": {
													"value": "@concat(\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO\n)\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_PARQUET",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "total",
														"type": "Int32"
													},
													"sink": {
														"name": "total",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "pages",
														"type": "Int32"
													},
													"sink": {
														"name": "pages",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "currentPage",
														"type": "Int32"
													},
													"sink": {
														"name": "currentPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "perPage",
														"type": "Int32"
													},
													"sink": {
														"name": "perPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													},
													"sink": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_DS_DW_MALWEE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": {
													"value": "@concat(\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO\n)\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "vtex_total_order_page_total",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "LeDataProcessamento",
						"description": "Recupera a data de processamento da tabela de controle",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeCredenciaisOrigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataProcessamentoAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "int",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint\n",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "TotalPaginas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select NOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO from [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LeTotalPaginasArquivo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SeAPI_JSON_TO_DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select top(1)  * from [cleansing_data].[vtex_order_page_total]\norder by data_hora_exportacao desc \n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "modificaPaginaFinal",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeTotalPaginasArquivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PaginaFinal",
							"value": {
								"value": "@string(int(activity('LeTotalPaginasArquivo').output.FirstRow.pages))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EXEC VTEX_ORDER_02_TOTAL_PAGINA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "modificaPaginaFinal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(int(variables('Contador')),int(variables('PaginaFinal')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "modificaIndexValue",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndexValue",
										"value": {
											"value": "@string(add(int(variables('Contador')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "modificaContador",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "modificaIndexValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Contador",
										"value": {
											"value": "@string(int(variables('IndexValue')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "VTEX_ORDER_02_TOTAL_PAGINA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "modificaContador",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_02_TOTAL_PAGINA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParPagina": {
												"value": "@string(int(variables('Contador')))",
												"type": "Expression"
											},
											"DataInicioOrderVTEX": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX",
												"type": "Expression"
											},
											"DataFimOrderVtex": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX",
												"type": "Expression"
											},
											"DataIngestao": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											},
											"DataProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_PROCESSAMENTO",
												"type": "Expression"
											},
											"DataHoraProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO",
												"type": "Expression"
											},
											"ParTabelaListOrder": {
												"value": "@concat(\nactivity('TabelaOrderList').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TabelaOrderList').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "LimpaTotalPagina",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LimpaTabelaOrderList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "TabelaOrderList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TotalPaginas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select NOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO \nfrom  [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 2",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LimpaTabelaOrderList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TabelaOrderList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('TabelaOrderList').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TabelaOrderList').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "int"
					},
					"ParPagina": {
						"type": "int"
					},
					"ParTabelaShippingItems": {
						"type": "string"
					}
				},
				"variables": {
					"AppToken": {
						"type": "String"
					},
					"AppKey": {
						"type": "String"
					},
					"RelativeURL": {
						"type": "String"
					},
					"PaginaFinal": {
						"type": "String",
						"defaultValue": "0"
					},
					"Contador": {
						"type": "String",
						"defaultValue": "0"
					},
					"IndexValue": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_03_DETAILS_V3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GravaLogFim",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SeAPI_JSON_TO_DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PADFIdPacoteFIM]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@pipeline().parameters.ParIdPipeline",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_PARAMETROS": {
									"value": {
										"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_BASE,variables('RalativeURL'))",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD": {
									"value": {
										"value": "@pipeline().parameters.ParCodEndPoint",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_TIPO": {
									"value": "API",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SeAPI_JSON_TO_DL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GravaVariaveis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_API_JSON_TO_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"X-VTEX-API-AppToken": {
													"value": "@variables('AppToken')",
													"type": "Expression"
												},
												"x-vtex-api-appkey": {
													"value": "@variables('AppKey')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestVTEX",
											"type": "DatasetReference",
											"parameters": {
												"ParRelativeURL": {
													"value": "@variables('RalativeURL')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_HEADER_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_TOTALS_PARQUET_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "orderid",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['sequence']"
													},
													"sink": {
														"name": "sequence",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['marketplaceOrderId']"
													},
													"sink": {
														"name": "marketplaceOrderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['sellerOrderId']"
													},
													"sink": {
														"name": "sellerOrderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['origin']"
													},
													"sink": {
														"name": "origin",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['affiliateId']"
													},
													"sink": {
														"name": "affiliateId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['salesChannel']"
													},
													"sink": {
														"name": "salesChannel",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['merchantName']"
													},
													"sink": {
														"name": "merchantName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['status']"
													},
													"sink": {
														"name": "status",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['statusDescription']"
													},
													"sink": {
														"name": "statusDescription",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['value']"
													},
													"sink": {
														"name": "value",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['creationDate']"
													},
													"sink": {
														"name": "creationDate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['orderGroup']"
													},
													"sink": {
														"name": "orderGroup",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO",
														"type": "String"
													}
												}
											],
											"collectionReference": "",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_TOTALS_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_ITEMS_PARQUET_CLEANSGIN",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "total_items_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['name']"
													},
													"sink": {
														"name": "total_items_name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['value']"
													},
													"sink": {
														"name": "total_items_value",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "orderid",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['totals']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderTotalsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_ITEMS_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_CLIENT_PARQUET_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['uniqueId']"
													},
													"sink": {
														"name": "uniqueid",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ean']"
													},
													"sink": {
														"name": "ean",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['lockId']"
													},
													"sink": {
														"name": "lockId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['quantity']"
													},
													"sink": {
														"name": "quantity",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['seller']"
													},
													"sink": {
														"name": "seller",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['refId']"
													},
													"sink": {
														"name": "refId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['price']"
													},
													"sink": {
														"name": "price",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['listPrice']"
													},
													"sink": {
														"name": "listPrice",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['imageUrl']"
													},
													"sink": {
														"name": "imageUrl",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['brandName']"
													},
													"sink": {
														"name": "brandName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['brandId']"
													},
													"sink": {
														"name": "brandId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categoriesIds']"
													},
													"sink": {
														"name": "categoriesIds",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][0]['id']"
													},
													"sink": {
														"name": "categories_id_1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][0]['name']"
													},
													"sink": {
														"name": "categories_name_1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "orderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['name']"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][1]['id']"
													},
													"sink": {
														"name": "categories_id_2",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][1]['name']"
													},
													"sink": {
														"name": "categories_name_2",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][2]['id']"
													},
													"sink": {
														"name": "categories_id_3",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['items'][0]['additionalInfo']['categories'][2]['name']"
													},
													"sink": {
														"name": "categories_name_3",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['items']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderItemsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_CLIENT_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_PAYMENT_PARQUET_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "orderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['email']"
													},
													"sink": {
														"name": "email",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['firstName']"
													},
													"sink": {
														"name": "firstName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['lastName']"
													},
													"sink": {
														"name": "lastName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['documentType']"
													},
													"sink": {
														"name": "documentType",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['document']"
													},
													"sink": {
														"name": "document",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['clientProfileData']['phone']"
													},
													"sink": {
														"name": "phone",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['street']"
													},
													"sink": {
														"name": "street",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO"
													}
												}
											],
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderClientParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_client_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_PAYMENT_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_SHIPPING_PARQUET_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['payments'][0]['id']"
													},
													"sink": {
														"name": "id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['payments'][0]['paymentSystemName']"
													},
													"sink": {
														"name": "paymentSystemName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['payments'][0]['paymentSystem']"
													},
													"sink": {
														"name": "paymentSystem",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['payments'][0]['installments']"
													},
													"sink": {
														"name": "installments",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['payments'][0]['referenceValue']"
													},
													"sink": {
														"name": "referenceValue",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['payments'][0]['value']"
													},
													"sink": {
														"name": "value",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "OrderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO"
													}
												}
											],
											"collectionReference": "$['paymentData']['transactions']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderPaymentParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_payment_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_SHIPPING_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_CLEASING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "orderid",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['addressType']"
													},
													"sink": {
														"name": "addressType",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['receiverName']"
													},
													"sink": {
														"name": "receiverName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['addressId']"
													},
													"sink": {
														"name": "addressId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['postalCode']"
													},
													"sink": {
														"name": "postalCode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['city']"
													},
													"sink": {
														"name": "city",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['state']"
													},
													"sink": {
														"name": "state",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['country']"
													},
													"sink": {
														"name": "country",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['street']"
													},
													"sink": {
														"name": "street",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['number']"
													},
													"sink": {
														"name": "number",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['neighborhood']"
													},
													"sink": {
														"name": "neighborhood",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['complement']"
													},
													"sink": {
														"name": "complement",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['reference']"
													},
													"sink": {
														"name": "reference",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['geoCoordinates']"
													},
													"sink": {
														"name": "geoCoordinates_X",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['shippingData']['address']['geoCoordinates'][1]"
													},
													"sink": {
														"name": "geoCoordinates_Y",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO"
													}
												}
											],
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_SQL_ORDER_SHIPPING_ITEMS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['itemIndex']"
													},
													"sink": {
														"name": "itemIndex",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['selectedSla']"
													},
													"sink": {
														"name": "selectedSla",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['slas'][0]['lockTTL']"
													},
													"sink": {
														"name": "lockTTL",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['price']"
													},
													"sink": {
														"name": "price",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['listPrice']"
													},
													"sink": {
														"name": "listPrice",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['sellingPrice']"
													},
													"sink": {
														"name": "sellingPrice",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['deliveryWindow']"
													},
													"sink": {
														"name": "deliveryWindow",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['deliveryCompany']"
													},
													"sink": {
														"name": "deliveryCompany",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['shippingEstimate']"
													},
													"sink": {
														"name": "shippingEstimate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['shippingEstimateDate']"
													},
													"sink": {
														"name": "shippingEstimateDate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['orderId']"
													},
													"sink": {
														"name": "OrderId",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['shippingData']['logisticsInfo']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingItemsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_HEADER_PARQUET_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_HEADER_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderParquetCleasing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_header/'))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_header.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_TOTALS_PARQUET_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_TOTALS_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderTotalsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderTotalsParquetCleansing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_totals/'))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_totals.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_PAYMENT_PARQUET_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_PAYMENT_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderPaymentParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_payment_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderPaymentParquetCleansing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_payment/'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_payment.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_SHIPPING_PARQUET_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_SHIPPING_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingParquetCleansing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping/'))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_CLEASING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_SHIPPING_ITEMS_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingItemsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderShippingItemsParquetCleansing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_shipping_items/'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_shipping_items.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_ITEMS_PARQUET_CLEANSGIN",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_ITEMS_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderItemsParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_items_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderItemsParquetCleasing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_items/'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_items.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_ORDER_CLIENT_PARQUET_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_CLIENT_PARQUET_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:02:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrderClientParquet",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_client_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VtexOrderDetailsOrderClientParquetCleasing",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_2,'/',\n'order_client/'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,'_order_client.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "PLogADFItemAPI",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_ORDER_HEADER_PARQUET_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[PLogADFOrderAPI]",
										"storedProcedureParameters": {
											"COD_LOG": {
												"value": {
													"value": "@pipeline().parameters.ParIdPipeline",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"NUM_ORDER": {
												"value": {
													"value": "@pipeline().parameters.ParNumeroOrder",
													"type": "Expression"
												},
												"type": "String"
											},
											"URL_ORDEM": {
												"value": {
													"value": "@variables('RalativeURL')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQL_CONTROLE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "API_JSON_TO_SQL_ORDER_SHIPPING_ITEMS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_API_JSON_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "data_hora_exportacao",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VtexOrderDetailsOrder",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisOrigem').output.firstRow.NOM_SISTEMA_ORIGEM,'_',''),'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_ALIAS_ENDPOINT_1,'/',\nactivity('LeCredenciaisOrigem').output.firstRow.NOM_FORMATO_ARQUIVO_1,'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(pipeline().parameters.ParNumeroOrder,\n'_order_header_',\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),\nsubstring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),\n'.json'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisOrigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_DS_DW_MALWEE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": {
													"value": "@pipeline().parameters.ParTabelaShippingItems",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LeDataProcessamento",
						"description": "Recupera a data de processamento da tabela de controle",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeCredenciaisOrigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataProcessamentoAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "int",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "GravaVariaveis",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(1,1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "RelativeURL",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RalativeURL",
										"value": {
											"value": "@concat(\nactivity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\npipeline().parameters.ParNumeroOrder)\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppToken",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppToken",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppKey",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppKey",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "LeCredenciaisOrigem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFCredenciaisAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					}
				],
				"parameters": {
					"ParIdPipeline": {
						"type": "String"
					},
					"ParCodEndPoint": {
						"type": "int"
					},
					"ParNumeroOrder": {
						"type": "string"
					},
					"ParTabelaShippingItems": {
						"type": "string"
					}
				},
				"variables": {
					"receiver": {
						"type": "String"
					},
					"RalativeURL": {
						"type": "String"
					},
					"SizeArquivo": {
						"type": "String",
						"defaultValue": "0"
					},
					"PathRaw": {
						"type": "String"
					},
					"AppToken": {
						"type": "String"
					},
					"AppKey": {
						"type": "String"
					},
					"DataHoraProcessamento": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}