adf-dev-br-analytics2/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-br-analytics2"
		},
		"vtex_0600_properties_VTEX_ORDER_01_DETAILS_parameters_ParCodEndPoint": {
			"type": "string",
			"defaultValue": "5"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADF_MODELO_ORACLE_BACKUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Modelo de importação de tabelas do ADF a partir de uma tabela de controle com as tabelas a importar, suas origens e colunas.",
				"activities": [
					{
						"name": "GravaLogFim",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Full",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PADFIdPacoteFIM]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@pipeline().parameters.ParIdPipeline",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_PARAMETROS": {
									"value": {
										"value": "@variables('dscParameters')",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD": {
									"value": {
										"value": "@pipeline().parameters.ParCodTabela",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_TIPO": {
									"value": "TABELA",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LeDataProcessamento",
						"description": "Recupera a data de processamento da tabela de controle",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LimpaTabelaColunas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataProcessamento]",
								"storedProcedureParameters": {
									"COD_TABELA": {
										"type": "int",
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "LimpaTabelaColunas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Variaveis-SrvOrigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFLimpaTabelaColunas]",
								"storedProcedureParameters": {
									"COD_TABELA": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "Variaveis-SrvOrigem",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LeCredenciaisDBorigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(1,1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DataBaseName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ServerName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "DataBaseName",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_BASE",
											"type": "Expression"
										}
									}
								},
								{
									"name": "UserName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DataBaseName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "UserName",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_USUARIO",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Password",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "UserName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Password",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_PASSWORD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "TipoArmazenamento",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Password",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TipoArmazenamento",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.IND_TIPO_ARMAZENAMENTO",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SecretNamePassword",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "TipoArmazenamento",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SecretNamePassword",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_PWD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ServerName",
										"value": {
											"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_SERVIDOR",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Incremental",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(variables('TipoArmazenamento'),'SQLOP'),equals(pipeline().parameters.ParTipoETL,'I'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_SQLOP_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GravaLogInicioItem-ToDL_CSV",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"additionalColumns": [
												{
													"name": "DAT_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,16)",
														"type": "Expression"
													}
												}
											],
											"oracleReaderQuery": {
												"value": "@concat(\n'select ',\nactivity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,\n' from ',\npipeline().parameters.ParNomeSchemaOrigem,\nif(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),\npipeline().parameters.ParNomeTabelaOrigem,\n' where ',\nactivity('LeDataProcessamento').output.firstRow.NOM_COLUNA_REFERENCIA,\n' >= TO_TIMESTAMP(',\n'''',activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO_CIGAM,'''',',',\n'''','DD-MON-YYYY HH24: MI:SS:FF','''',')',\n' and ',\nactivity('LeDataProcessamento').output.firstRow.NOM_COLUNA_REFERENCIA,\n' <= TO_TIMESTAMP(',\n'''',\nactivity('LeDataProcessamento').output.firstRow.DAT_PROCESSAMENTO_CIGAM,\n'''',\n',',\n'''',\n'DD-MON-YYYY HH24: MI:SS:FF',\n'''',\n');'\n)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "OracleTable1",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": "TABELA",
												"UserName": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_USUARIO",
													"type": "Expression"
												},
												"SecretNamePWD": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_PWD",
													"type": "Expression"
												},
												"SecretNameCON": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_CON",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GravaLogFimItem-ToDL",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set dscParametros SQLOP",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[PLogADFItemFim]",
										"storedProcedureParameters": {
											"COD_LOG": {
												"value": {
													"value": "@pipeline().parameters.ParIdPipeline",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"NOM_SCHEMA_ORIGEM": {
												"value": {
													"value": "@pipeline().parameters.ParNomeSchemaOrigem",
													"type": "Expression"
												},
												"type": "String"
											},
											"NOM_TABELA_ORIGEM": {
												"value": {
													"value": "@pipeline().parameters.ParNomeTabelaOrigem",
													"type": "Expression"
												},
												"type": "String"
											},
											"NUM_REGISTROS": {
												"value": {
													"value": "@variables('nuregistros')",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"COD_SERVIDOR": {
												"value": {
													"value": "@pipeline().parameters.ParCodServidor",
													"type": "Expression"
												},
												"type": "Int"
											},
											"DESTINO": {
												"value": "ToDataLake",
												"type": "String"
											},
											"COD_TABELA": {
												"value": {
													"value": "@pipeline().parameters.ParCodTabela",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ORIGEM": {
												"value": {
													"value": "@variables('TipoArmazenamento')",
													"type": "Expression"
												},
												"type": "String"
											},
											"FILE_SIZE": {
												"value": {
													"value": "@variables('FileSize')",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DSC_OBS": {
												"value": {
													"value": "@variables('PathRaw')",
													"type": "Expression"
												},
												"type": "String"
											},
											"COD_LOG_ITEM": {
												"value": {
													"value": "@activity('GravaLogInicioItem-ToDL_CSV').output.FirstRow.COD_LOG_ITEM",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQL_CONTROLE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SQLOP_TO_ADLS_RowsCopied",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy_SQLOP_TO_ADLS_CLEANSING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "nuregistros",
										"value": {
											"value": "@string(activity('Copy_SQLOP_TO_ADLS').output.rowsCopied)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SQLOP_TO_ADLS_PATH_RAW",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SQLOP_TO_ADLS_RowsCopied",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "PathRaw",
										"value": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "GravaLogInicioItem-ToDL_CSV",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[PLogADFItem]",
											"storedProcedureParameters": {
												"COD_LOG": {
													"type": "Int64",
													"value": {
														"value": "@pipeline().parameters.ParIdPipeline",
														"type": "Expression"
													}
												},
												"COD_SERVIDOR": {
													"type": "Int32",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
														"type": "Expression"
													}
												},
												"DAT_EXPORTACAO": {
													"type": "String",
													"value": {
														"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_INGESTAO",
														"type": "Expression"
													}
												},
												"DESTINO": {
													"type": "String",
													"value": "ToDataLake"
												},
												"NOM_SCHEMA_ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_ORIGEM",
														"type": "Expression"
													}
												},
												"NOM_TABELA_ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_ORIGEM",
														"type": "Expression"
													}
												},
												"ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SQL_DS_CONTROLE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": "Tabela"
											}
										}
									}
								},
								{
									"name": "Set dscParametros SQLOP",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SQLOP_TO_ADLS_PATH_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "dscParameters",
										"value": {
											"value": "@concat('select ',activity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,' from ',pipeline().parameters.ParNomeSchemaOrigem,if(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),pipeline().parameters.ParNomeTabelaOrigem)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy_SQLOP_TO_ADLS_CLEANSING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_SQLOP_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',\ntoLower(activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_RAW)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Carga Full",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(variables('TipoArmazenamento'),'SQLOP'),equals(pipeline().parameters.ParTipoETL,'U'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "GravaLogInicioItem-ToDL_CSV_U",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[PLogADFItem]",
											"storedProcedureParameters": {
												"COD_LOG": {
													"type": "Int64",
													"value": {
														"value": "@pipeline().parameters.ParIdPipeline",
														"type": "Expression"
													}
												},
												"COD_SERVIDOR": {
													"type": "Int32",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.COD_SERVIDOR",
														"type": "Expression"
													}
												},
												"DAT_EXPORTACAO": {
													"type": "String",
													"value": {
														"value": "@activity('LeDataProcessamento').output.FirstRow.DAT_INGESTAO",
														"type": "Expression"
													}
												},
												"DESTINO": {
													"type": "String",
													"value": "ToDataLake"
												},
												"NOM_SCHEMA_ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_SCHEMA_ORIGEM",
														"type": "Expression"
													}
												},
												"NOM_TABELA_ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_TABELA_ORIGEM",
														"type": "Expression"
													}
												},
												"ORIGEM": {
													"type": "String",
													"value": {
														"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.IND_TIPO_ARMAZENAMENTO",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SQL_DS_CONTROLE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": "Tabela"
											}
										}
									}
								},
								{
									"name": "Copy_SQLOP_TO_ADLS_U",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GravaLogInicioItem-ToDL_CSV_U",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"additionalColumns": [
												{
													"name": "DAT_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,16)",
														"type": "Expression"
													}
												}
											],
											"oracleReaderQuery": {
												"value": "@concat('select ',activity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,' from ',pipeline().parameters.ParNomeSchemaOrigem,if(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),pipeline().parameters.ParNomeTabelaOrigem)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "OracleTable1",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": "TABELA",
												"UserName": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.NOM_USUARIO",
													"type": "Expression"
												},
												"SecretNamePWD": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_PWD",
													"type": "Expression"
												},
												"SecretNameCON": {
													"value": "@activity('LeCredenciaisDBorigem').output.firstRow.DESC_SECRET_CON",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GravaLogFimItem-ToDL_U",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set dscParametros SQLOP_U",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[PLogADFItemFim]",
										"storedProcedureParameters": {
											"COD_LOG": {
												"value": {
													"value": "@pipeline().parameters.ParIdPipeline",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"NOM_SCHEMA_ORIGEM": {
												"value": {
													"value": "@pipeline().parameters.ParNomeSchemaOrigem",
													"type": "Expression"
												},
												"type": "String"
											},
											"NOM_TABELA_ORIGEM": {
												"value": {
													"value": "@pipeline().parameters.ParNomeTabelaOrigem",
													"type": "Expression"
												},
												"type": "String"
											},
											"NUM_REGISTROS": {
												"value": {
													"value": "@variables('nuregistros')",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"COD_SERVIDOR": {
												"value": {
													"value": "@pipeline().parameters.ParCodServidor",
													"type": "Expression"
												},
												"type": "Int"
											},
											"DESTINO": {
												"value": "ToDataLake",
												"type": "String"
											},
											"COD_TABELA": {
												"value": {
													"value": "@pipeline().parameters.ParCodTabela",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ORIGEM": {
												"value": {
													"value": "@variables('TipoArmazenamento')",
													"type": "Expression"
												},
												"type": "String"
											},
											"FILE_SIZE": {
												"value": {
													"value": "@variables('FileSize')",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DSC_OBS": {
												"value": {
													"value": "@variables('PathRaw')",
													"type": "Expression"
												},
												"type": "String"
											},
											"COD_LOG_ITEM": {
												"value": {
													"value": "@activity('GravaLogInicioItem-ToDL_CSV_U').output.FirstRow.COD_LOG_ITEM",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQL_CONTROLE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SQLOP_TO_ADLS_Rows_U",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy_SQLOP_TO_ADLS_CLEANSING_u",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "nuregistros",
										"value": {
											"value": "@string(activity('Copy_SQLOP_TO_ADLS_U').output.rowsCopied)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SQLOP_TO_ADLS_PATH_RAW_U",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SQLOP_TO_ADLS_Rows_U",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "PathRaw",
										"value": {
											"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW,'/',activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.orc'))\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set dscParametros SQLOP_U",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SQLOP_TO_ADLS_PATH_RAW_U",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "dscParameters",
										"value": {
											"value": "@concat('select ',activity('LeDataProcessamento').output.firstRow.DSC_COLUNAS_NAO_SENSIVEIS,' from ',pipeline().parameters.ParNomeSchemaOrigem,if(equals(pipeline().parameters.ParNomeSchemaOrigem,''),'','.'),pipeline().parameters.ParNomeTabelaOrigem)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy_SQLOP_TO_ADLS_CLEANSING_u",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_SQLOP_TO_ADLS_U",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',replace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',toLower(pipeline().parameters.ParNomeTabelaDestino),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),'/',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2)))\n",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'_',substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,4),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,5,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,8,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,11,2),substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,14,2),'.parquet'))\n",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_RAW",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_DS_DESTINO_PARQUET_GEN2",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@toLower(concat(activity('LeCredenciaisDBorigem').output.firstRow.NOM_REGION,'/',\nreplace(activity('LeCredenciaisDBorigem').output.firstRow.NOM_ALIAS,'_',''),'/',\ntoLower(activity('LeCredenciaisDBorigem').output.firstRow.NOM_TABELA_RAW)))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@toLower(concat(toLower(pipeline().parameters.ParNomeTabelaDestino),'.parquet'))",
													"type": "Expression"
												},
												"FileSystem": {
													"value": "@activity('LeCredenciaisDBorigem').output.FirstRow.NOM_CONTAINER_CLEANSING",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LeCredenciaisDBorigem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "00.00:02:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFCredenciais]",
								"storedProcedureParameters": {
									"COD_TABELA": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"parameters": {
					"ParNomeSchemaOrigem": {
						"type": "String"
					},
					"ParIdPipeline": {
						"type": "String"
					},
					"ParNomeTabelaOrigem": {
						"type": "String"
					},
					"ParNomeSchemaDestino": {
						"type": "string"
					},
					"ParNomeAlias": {
						"type": "string"
					},
					"ParNomeTabelaDestino": {
						"type": "string"
					},
					"ParCodServidor": {
						"type": "int"
					},
					"ParTipoETL": {
						"type": "string"
					},
					"ParIndDestinoDL": {
						"type": "string"
					},
					"ParIndDestinoSQL": {
						"type": "string"
					},
					"ParCodTabela": {
						"type": "int"
					},
					"SourceStore_Location": {
						"type": "string"
					},
					"SourceStore_Directory": {
						"type": "string"
					},
					"DestinationStore_Location": {
						"type": "string"
					},
					"DestinationStore_Directory": {
						"type": "string"
					},
					"ParIndDataCleansing": {
						"type": "string"
					}
				},
				"variables": {
					"nuregistros": {
						"type": "String",
						"defaultValue": "0"
					},
					"receiver": {
						"type": "String"
					},
					"ComandoGeraSelect": {
						"type": "String",
						"defaultValue": ",@coluna\t\tvarchar(max)  select   \t\t@coluna =  \t\t\tcase  \t\t\t\twhen @coluna is null  \t\t\t\t\tThen 'Convert(varchar(max),isnull('+ name  + ',' +\t \t\t\t\t\t\t\t\tcase when xtype in (56,60,62,104,106,127) then '0' +'))' \t\t\t\t\t\t\t\t\t when xtype in (42,61)\t\t\t\t  then '''1900-01-01'''+'),121)' \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  else '''''' +'))' \t\t\t\t\t\t\t\tend  \t\t\t\tElse \t\t  \t\t\t\t\t @coluna + '+' + 'Convert(varchar(max),isnull('+ name + ','\t+ \t\t\t\t\t\t\t\tcase when xtype in (56,60,62,104,106,127)\tthen '0' +'))' \t\t\t\t\t\t\t\t\t when xtype in (42,61)\t\t\t\t\tthen '''1900-01-01'''+'),121)' \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\telse '''''' +'))' \t\t\t\t\t\t\t\tend \t\t\t\tend from  \t\tsys.syscolumns  where  \t\tid = OBJECT_ID(@Tabela) order by colid  select @coluna = ' SUBSTRING(sys.fn_sqlvarbasetostr(HASHBYTES(''MD5'',' +\t@coluna + ')),3,32) HASH_KEY from ' + @tabela  select @coluna ComandoSelectHash"
					},
					"ComandoSelectHash": {
						"type": "String"
					},
					"DataBaseName": {
						"type": "String"
					},
					"UserName": {
						"type": "String"
					},
					"Password": {
						"type": "String"
					},
					"TipoArmazenamento": {
						"type": "String"
					},
					"ServerName": {
						"type": "String"
					},
					"NomeBucket": {
						"type": "String",
						"defaultValue": "dl"
					},
					"DestinoDL": {
						"type": "String"
					},
					"SecretNamePassword": {
						"type": "String"
					},
					"FileSize": {
						"type": "String",
						"defaultValue": "0"
					},
					"PathRaw": {
						"type": "String"
					},
					"NumFiles": {
						"type": "String",
						"defaultValue": "0"
					},
					"dscParameters": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/ORACLE/backup"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OrderID",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LimpaVtexOrderDetailsOrderShippingItems",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LimpaVtexOrderDetailsOrderShipping",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Limpavtex_order_details_order_payment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Limpavtex_order_details_order_client",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Limpavtex_order_details_order_items",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Limpavtex_order_details_order_totals",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Limpavtex_order_details_order_header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\nselect  orderid from [cleansing_data].[vtex_order_list]\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "executa downlod order detalhe",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OrderID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OrderID').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "executa VTEX_ORDER_03_DETAILS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_03_DETAILS_SQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"ParIdPipeline": {
												"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
												"type": "Expression"
											},
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParNumeroOrder": {
												"value": "@{item().ORDERID}",
												"type": "Expression"
											},
											"ParTabelaShippingItems": {
												"value": "@concat(\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											},
											"ParTabelaShipping": {
												"value": "@concat(\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_TABELA_DESTINO\n)",
												"type": "Expression"
											},
											"ParTabelaPayment": {
												"value": "@concat(\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											},
											"ParTabelaClient": {
												"value": "@concat(\nactivity('vtex_order_details_order_client').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_client').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											},
											"ParTabelaOrderItems": {
												"value": "@concat(\nactivity('vtex_order_details_order_items').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_items').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											},
											"ParTabelaTotals": {
												"value": "@concat(\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_TABELA_DESTINO\n)",
												"type": "Expression"
											},
											"ParTabelaHeader": {
												"value": "@concat(\nactivity('vtex_order_details_order_header').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_header').output.firstRow.NOM_TABELA_DESTINO\n)",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GravaLogInicio",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "5",
											"type": "Expression"
										}
									},
									"NOM_PACOTE": {
										"type": "String",
										"value": "ADF_MODELO_API"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "GravaLogErroUPD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Grava DATA LAKE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PLogADFItemErroAPI]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_ERRO": {
									"value": {
										"value": "@activity('executa downlod order detalhe').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"NOM_ALIAS_ENDPOINT": {
									"value": {
										"value": "@activity('GravaLogInicio').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD_ENDPOINT": {
									"value": {
										"value": "5",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EnviaEmailDeErroUPD",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "MsgErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('executa downlod order detalhe').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MsgErroUPD",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GravaLogErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MsgErro",
							"value": {
								"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT_1,']')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "VtexOrderDetailsOrderShippingItems",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 3\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LimpaVtexOrderDetailsOrderShippingItems",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VtexOrderDetailsOrderShippingItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "VtexOrderDetailsOrderShipping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 4",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LimpaVtexOrderDetailsOrderShipping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VtexOrderDetailsOrderShipping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "vtex_order_details_order_payment",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 5",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Limpavtex_order_details_order_payment",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "vtex_order_details_order_payment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "vtex_order_details_order_client",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 6",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Limpavtex_order_details_order_client",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "vtex_order_details_order_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('vtex_order_details_order_client').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_client').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "vtex_order_details_order_items",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 7",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Limpavtex_order_details_order_items",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "vtex_order_details_order_items",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('vtex_order_details_order_items').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_items').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "vtex_order_details_order_totals",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 8",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Limpavtex_order_details_order_totals",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "vtex_order_details_order_totals",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "vtex_order_details_order_header",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO\nfrom [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 9",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Limpavtex_order_details_order_header",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "vtex_order_details_order_header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('vtex_order_details_order_header').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_header').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "Grava DATA LAKE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "executa downlod order detalhe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VTEX_ORDER_03_DETAILS_DATA_LAKE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ParIdPipeline": {
									"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
									"type": "Expression"
								},
								"ParCodEndPoint": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								},
								"ParTabelaShippingItems": {
									"value": "@concat(\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShippingItems').output.firstRow.NOM_TABELA_DESTINO\n)\n",
									"type": "Expression"
								},
								"ParTabelaShipping": {
									"value": "@concat(\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('VtexOrderDetailsOrderShipping').output.firstRow.NOM_TABELA_DESTINO\n)",
									"type": "Expression"
								},
								"ParTabelaPayment": {
									"value": "@concat(\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_payment').output.firstRow.NOM_TABELA_DESTINO\n)\n",
									"type": "Expression"
								},
								"ParTabelaClient": {
									"value": "@concat(\nactivity('vtex_order_details_order_client').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_client').output.firstRow.NOM_TABELA_DESTINO\n)\n",
									"type": "Expression"
								},
								"ParTabelaOrderItems": {
									"value": "@concat(\nactivity('vtex_order_details_order_items').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_items').output.firstRow.NOM_TABELA_DESTINO\n)\n",
									"type": "Expression"
								},
								"ParTabelaTotals": {
									"value": "@concat(\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_totals').output.firstRow.NOM_TABELA_DESTINO\n)",
									"type": "Expression"
								},
								"ParTabelaHeader": {
									"value": "@concat(\nactivity('vtex_order_details_order_header').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('vtex_order_details_order_header').output.firstRow.NOM_TABELA_DESTINO\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "string",
						"defaultValue": "5"
					}
				},
				"variables": {
					"DATA_HORA_EXPORTACAO": {
						"type": "String"
					},
					"MsgErro": {
						"type": "String"
					},
					"receiver": {
						"type": "String"
					},
					"FullURL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_DETAILS_PENDENTES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CapturaDataExportacao",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataExportacao]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "DataExportacao",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CapturaDataExportacao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DATA_HORA_EXPORTACAO",
							"value": {
								"value": "@activity('CapturaDataExportacao').output.FirstRow.DATA_HORA_EXPORTACAO\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "OrderID",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DataExportacao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "executa downlod order detalhe",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OrderID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OrderID').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "executa VTEX_ORDER_03_DETAILS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_03_DETAILS_DB",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"ParIdPipeline": {
												"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
												"type": "Expression"
											},
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParNumeroOrder": {
												"value": "@{item().ORDERID}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GravaLogInicio",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "5",
											"type": "Expression"
										}
									},
									"NOM_PACOTE": {
										"type": "String",
										"value": "ADF_MODELO_API"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "GravaLogErroUPD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "executa downlod order detalhe",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PLogADFItemErroAPI]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_ERRO": {
									"value": {
										"value": "@activity('executa downlod order detalhe').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"NOM_ALIAS_ENDPOINT": {
									"value": {
										"value": "@activity('GravaLogInicio').output.FirstRow.NOM_ALIAS_ENDPOINT_1",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD_ENDPOINT": {
									"value": {
										"value": "5",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EnviaEmailDeErroUPD",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "MsgErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('executa downlod order detalhe').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MsgErroUPD",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GravaLogErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MsgErro",
							"value": {
								"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT_1,']')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "string",
						"defaultValue": "5"
					}
				},
				"variables": {
					"DATA_HORA_EXPORTACAO": {
						"type": "String"
					},
					"MsgErro": {
						"type": "String"
					},
					"receiver": {
						"type": "String"
					},
					"FullURL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_02_TOTAL_PAGINA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GravaLogInicio",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "PADFIdPacoteAPI",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									},
									"NOM_PACOTE": {
										"type": "String",
										"value": "ADF_MODELO_API"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "EXEC_VTEX_ORDER_03_TOTAL_PAGINA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VTEX_ORDER_03_TOTAL_PAGINA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParIdPipeline": {
									"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
									"type": "Expression"
								},
								"ParCodEndPoint": {
									"value": "@pipeline().parameters.ParCodEndPoint",
									"type": "Expression"
								},
								"ParPagina": {
									"value": "@pipeline().parameters.ParPagina",
									"type": "Expression"
								},
								"DataInicioOrderVTEX": {
									"value": "@pipeline().parameters.DataInicioOrderVTEX",
									"type": "Expression"
								},
								"DataFimOrderVtex": {
									"value": "@pipeline().parameters.DataFimOrderVtex",
									"type": "Expression"
								},
								"DataIngestao": {
									"value": "@pipeline().parameters.DataIngestao",
									"type": "Expression"
								},
								"DataProcessamento": {
									"value": "@pipeline().parameters.DataProcessamento",
									"type": "Expression"
								},
								"DataHoraProcessamento": {
									"value": "@pipeline().parameters.DataHoraProcessamento",
									"type": "Expression"
								},
								"ParTabelaListOrder": {
									"value": "@pipeline().parameters.ParTabelaListOrder",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "GravaLogErroUPD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EXEC_VTEX_ORDER_03_TOTAL_PAGINA",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[PLogADFItemErroAPI]",
							"storedProcedureParameters": {
								"COD_LOG": {
									"value": {
										"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"DSC_ERRO": {
									"value": {
										"value": "@activity('EXEC_VTEX_ORDER_03_TOTAL_PAGINA').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"NOM_ALIAS_ENDPOINT": {
									"value": {
										"value": "@activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT",
										"type": "Expression"
									},
									"type": "String"
								},
								"COD_ENDPOINT": {
									"value": {
										"value": "@pipeline().parameters.ParCodEndPoint",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL_CONTROLE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EnviaEmailDeErroUPD",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "MsgErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('EXEC_VTEX_ORDER_03_TOTAL_PAGINA').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{activity('GravaLogInicio').output.firstRow.DESC_EMAIL_ERRO}\",\n    \"schema\": \"\",  \n    \"table\": \"\",\n\"servername\": \"\",\n\"type\":\"API\",\n\"endpoint\":\"@{activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT}\",\n\"url\":\"@{variables('FullURL')}\",\n\"output\":\"@{activity('GravaLogInicio').output.firstRow.NOM_RETORNO_URL}\" \n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "MsgErroUPD",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GravaLogErroUPD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MsgErro",
							"value": {
								"value": "@concat('Pipeline com erro: API_TO_ADLS: [',activity('GravaLogInicio').output.firstRow.NOM_ALIAS_ENDPOINT,']')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "int"
					},
					"ParPagina": {
						"type": "int"
					},
					"DataInicioOrderVTEX": {
						"type": "string"
					},
					"DataFimOrderVtex": {
						"type": "string"
					},
					"DataIngestao": {
						"type": "string"
					},
					"DataProcessamento": {
						"type": "string"
					},
					"DataHoraProcessamento": {
						"type": "string"
					},
					"ParTabelaListOrder": {
						"type": "string"
					}
				},
				"variables": {
					"receiver": {
						"type": "String",
						"defaultValue": "angelo.T1158.dataex@xpi.com.br"
					},
					"MsgErro": {
						"type": "String"
					},
					"FullURL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_ADF_MODELO_ORACLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GravaLogInicio",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFIdPacote]",
								"storedProcedureParameters": {
									"COD_TABELA": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodTabela",
											"type": "Expression"
										}
									},
									"NOM_PACOTE": {
										"type": "String",
										"value": "ADF_MODELO"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "SeTipoETLUPDATE",
						"description": "Coloquei o teste para aceitar ETLs tipo U e I para testar o processamento do Incremental no mesmo PipeLine do Update",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Variaveis-PADFIdPacote",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(equals(variables('TipoETL'),'U'),equals(variables('TipoETL'),'I'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutaPipelineUPDATE",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ADF_MODELO_ORACLE",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParNomeSchemaOrigem": {
												"value": "@replace(variables('VarNomeSchemaOrigem'),' ','')",
												"type": "Expression"
											},
											"ParIdPipeline": {
												"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
												"type": "Expression"
											},
											"ParNomeTabelaOrigem": {
												"value": "@activity('GravaLogInicio').output.firstRow.NOM_TABELA_ORIGEM",
												"type": "Expression"
											},
											"ParNomeSchemaDestino": {
												"value": "@activity('GravaLogInicio').output.firstRow.NOM_SCHEMA_DESTINO",
												"type": "Expression"
											},
											"ParNomeAlias": {
												"value": "@activity('GravaLogInicio').output.firstRow.NOM_ALIAS",
												"type": "Expression"
											},
											"ParNomeTabelaDestino": {
												"value": "@activity('GravaLogInicio').output.firstRow.NOM_TABELA_DESTINO",
												"type": "Expression"
											},
											"ParCodServidor": {
												"value": "@activity('GravaLogInicio').output.firstRow.COD_SERVIDOR",
												"type": "Expression"
											},
											"ParTipoETL": {
												"value": "@variables('TipoETL')",
												"type": "Expression"
											},
											"ParIndDestinoDL": {
												"value": "@variables('IndDestinoDL')",
												"type": "Expression"
											},
											"ParIndDestinoSQL": {
												"value": "@variables('IndDestinoSQL')",
												"type": "Expression"
											},
											"ParCodTabela": {
												"value": "@pipeline().parameters.ParCodTabela",
												"type": "Expression"
											},
											"ParIndDataCleansing": {
												"value": "@variables('IndDataCleansing')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "GravaLogErroUPD",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecutaPipelineUPDATE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[PLogADFItemErro]",
										"storedProcedureParameters": {
											"COD_LOG": {
												"value": {
													"value": "@activity('GravaLogInicio').output.firstRow.COD_LOG",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DSC_ERRO": {
												"value": {
													"value": "@activity('ExecutaPipelineUPDATE').Error.Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"NOM_SCHEMA_ORIGEM": {
												"value": {
													"value": "@variables('VarNomeSchemaOrigem')",
													"type": "Expression"
												},
												"type": "String"
											},
											"NOM_TABELA_ORIGEM": {
												"value": {
													"value": "@activity('GravaLogInicio').output.firstRow.NOM_TABELA_ORIGEM",
													"type": "Expression"
												},
												"type": "String"
											},
											"COD_TABELA": {
												"value": {
													"value": "@pipeline().parameters.ParCodTabela",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQL_CONTROLE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EnviaEmailDeErroUPD",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "MsgErroUPD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://prod-21.brazilsouth.logic.azure.com:443/workflows/741f9460457d489996f012404ef44c15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=j67cgGl-SI96CK3Ef9EClXXCdWao6ACexeV0h3sDZEU",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"database\":\"@{activity('GravaLogInicio').output.firstRow.NOM_BASE}\",\n\t\"environment\":\"@{activity('GravaLogInicio').output.firstRow.DESC_ENVIRONMENT}\",\n\t\"message\": \"@{activity('ExecutaPipelineUPDATE').error.message}\",\n\t\"pipelineName\": \"@{variables('MsgErro')}\",\n\t\"receiver\": \"@{variables('receiver')}\",\n    \"schema\": \"@{activity('GravaLogInicio').output.firstRow.NOM_SCHEMA_ORIGEM}\",  \n    \"table\": \"@{activity('GravaLogInicio').output.firstRow.NOM_TABELA_ORIGEM}\",\n\"servername\": \"@{replace(activity('GravaLogInicio').output.firstRow.NOM_SERVIDOR, '\\','-') }\",\n\"type\":\"Table\",\n\"endpoint\":\"\",\n\"url\":\"\",\n\"output\":\"\"\n}\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "MsgErroUPD",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GravaLogErroUPD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "MsgErro",
										"value": {
											"value": "@concat('Pipeline com erro: SQL_TO_ADLS_HASH: [',variables('VarNomeSchemaOrigem'),if(equals(variables('VarNomeSchemaOrigem'),''),'','.'),activity('GravaLogInicio').output.firstRow.NOM_TABELA_ORIGEM,']')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Variaveis-PADFIdPacote",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GravaLogInicio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(1,1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "IndTipoETL",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TipoETL",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.IND_ETL",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ListaDeEmails",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "IndTipoETL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "receiver",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.DSC_EMAIL_ERRO",
											"type": "Expression"
										}
									}
								},
								{
									"name": "NomeSchemaOrigemSemNull",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ListaDeEmails",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "VarNomeSchemaOrigem",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.NOM_SCHEMA_ORIGEM",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IndDestinoDL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "NomeSchemaOrigemSemNull",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndDestinoDL",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.IND_DESTINO_DL",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IndDestinoSQL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "IndDestinoDL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndDestinoSQL",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.IND_DESTINO_SQL",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IndDataCleansing",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "IndDestinoSQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndDataCleansing",
										"value": {
											"value": "@activity('GravaLogInicio').output.firstRow.IND_DATA_CLEANSING",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"ParCodTabela": {
						"type": "int"
					}
				},
				"variables": {
					"receiver": {
						"type": "String",
						"defaultValue": "angelo.T1158.dataex@xpi.com.br"
					},
					"MsgErro": {
						"type": "String"
					},
					"TipoETL": {
						"type": "String"
					},
					"VarNomeSchemaOrigem": {
						"type": "String"
					},
					"IndDestinoDL": {
						"type": "String"
					},
					"IndDestinoSQL": {
						"type": "String"
					},
					"IndDataCleansing": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Modelos/ORACLE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_TOTAL_PAGINA_BACKUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LeCredenciaisOrigem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFCredenciaisAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "SeAPI_JSON_TO_DL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_API_JSON_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "AppKey",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "DATA_HORA_EXPORTACAO",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"X-VTEX-API-AppToken": {
													"value": "@variables('AppToken')",
													"type": "Expression"
												},
												"x-vtex-api-appkey": {
													"value": "@variables('AppKey')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestVTEX",
											"type": "DatasetReference",
											"parameters": {
												"ParRelativeURL": {
													"value": "@variables('RelativeURL')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									]
								},
								{
									"name": "RelativeURL",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RelativeURL",
										"value": {
											"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\n'[',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX,\n' TO ',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX,\n']',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_3,\n'100',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,\nstring(pipeline().parameters.ParPagina)\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppToken",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "RelativeURL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppToken",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppKey",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "AppToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppKey",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "API_JSON_TO_PARQUET",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_API_JSON_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['paging']['total']"
													},
													"sink": {
														"name": "total",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['pages']"
													},
													"sink": {
														"name": "pages",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['currentPage']"
													},
													"sink": {
														"name": "currentPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['perPage']"
													},
													"sink": {
														"name": "perPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['DATA_HORA_EXPORTACAO']"
													},
													"sink": {
														"name": "DATA_HORA_EXPORTACAO",
														"type": "String"
													}
												}
											],
											"collectionReference": "",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "vtex_total_order_page_total",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "LeDataProcessamento",
						"description": "Recupera a data de processamento da tabela de controle",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeCredenciaisOrigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataProcessamentoAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "int",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint\n",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "LeTotalPaginasArquivo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SeAPI_JSON_TO_DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "modificaPaginaFinal",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeTotalPaginasArquivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PaginaFinal",
							"value": {
								"value": "@string(int(activity('LeTotalPaginasArquivo').output.FirstRow.PaginaFinal))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EXEC VTEX_ORDER_02_TOTAL_PAGINA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "modificaPaginaFinal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(int(variables('Contador')),int(variables('PaginaFinal')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "modificaIndexValue",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndexValue",
										"value": {
											"value": "@string(add(int(variables('Contador')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "modificaContador",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "modificaIndexValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Contador",
										"value": {
											"value": "@string(int(variables('IndexValue')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "VTEX_ORDER_02_TOTAL_PAGINA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "modificaContador",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_02_TOTAL_PAGINA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParPagina": {
												"value": "@string(int(variables('Contador')))",
												"type": "Expression"
											},
											"DataInicioOrderVTEX": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX",
												"type": "Expression"
											},
											"DataFimOrderVtex": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX",
												"type": "Expression"
											},
											"DataIngestao": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											},
											"DataProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_PROCESSAMENTO",
												"type": "Expression"
											},
											"DataHoraProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "int"
					},
					"ParPagina": {
						"type": "int"
					}
				},
				"variables": {
					"AppToken": {
						"type": "String"
					},
					"AppKey": {
						"type": "String"
					},
					"RelativeURL": {
						"type": "String"
					},
					"PaginaFinal": {
						"type": "String",
						"defaultValue": "0"
					},
					"Contador": {
						"type": "String",
						"defaultValue": "0"
					},
					"IndexValue": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX/backup"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VTEX_ORDER_02_TOTAL_PAGINA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VTEX_ORDER_01_TOTAL_PAGINA_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LeCredenciaisOrigem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFCredenciaisAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "SeAPI_JSON_TO_DL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LimpaTotalPagina",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LeCredenciaisOrigem').output.FirstRow.NOM_RETORNO_URL,'JSON')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_API_JSON_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "AppKey",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "data_hora_exportacao",
													"value": {
														"value": "@substring(activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO,0,19)",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"X-VTEX-API-AppToken": {
													"value": "@variables('AppToken')",
													"type": "Expression"
												},
												"x-vtex-api-appkey": {
													"value": "@variables('AppKey')",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestVTEX",
											"type": "DatasetReference",
											"parameters": {
												"ParRelativeURL": {
													"value": "@variables('RelativeURL')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									]
								},
								{
									"name": "RelativeURL",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RelativeURL",
										"value": {
											"value": "@concat(activity('LeCredenciaisOrigem').output.FirstRow.NOM_URL_RELATIVA,\n'[',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX,\n' TO ',\nactivity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX,\n']',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_3,\n'100',\nactivity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_4,\nstring(pipeline().parameters.ParPagina)\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppToken",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "RelativeURL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppToken",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_1\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AppKey",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "AppToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppKey",
										"value": {
											"value": "@activity('LeCredenciaisOrigem').output.FirstRow.VAL_PARAMETRO_2\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "API_JSON_TO_SQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_API_JSON_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['paging']['total']"
													},
													"sink": {
														"name": "total",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['pages']"
													},
													"sink": {
														"name": "pages",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['currentPage']"
													},
													"sink": {
														"name": "currentPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['paging']['perPage']"
													},
													"sink": {
														"name": "perPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['data_hora_exportacao']"
													},
													"sink": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													}
												}
											],
											"collectionReference": "",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADSL_GEN2_JSON_DESTINO",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": "brazil/vtex/vtex_order_page_total/",
												"FileName": "vtex_order_page_total.json",
												"FileSystem": "raw"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_DS_DW_MALWEE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": {
													"value": "@concat(\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO\n)\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "API_JSON_TO_PARQUET",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API_JSON_TO_SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:00:15",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "total",
														"type": "Int32"
													},
													"sink": {
														"name": "total",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "pages",
														"type": "Int32"
													},
													"sink": {
														"name": "pages",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "currentPage",
														"type": "Int32"
													},
													"sink": {
														"name": "currentPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "perPage",
														"type": "Int32"
													},
													"sink": {
														"name": "perPage",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													},
													"sink": {
														"name": "data_hora_exportacao",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_DS_DW_MALWEE",
											"type": "DatasetReference",
											"parameters": {
												"NomeTabela": {
													"value": "@concat(\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO\n)\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "vtex_total_order_page_total",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "LeDataProcessamento",
						"description": "Recupera a data de processamento da tabela de controle",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeCredenciaisOrigem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[PADFDataProcessamentoAPI]",
								"storedProcedureParameters": {
									"COD_ENDPOINT": {
										"type": "int",
										"value": {
											"value": "@pipeline().parameters.ParCodEndPoint\n",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "Tabela"
								}
							}
						}
					},
					{
						"name": "TotalPaginas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LeDataProcessamento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select NOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO from [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LeTotalPaginasArquivo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SeAPI_JSON_TO_DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select top(1)  * from [cleansing_data].[vtex_order_page_total]\norder by data_hora_exportacao desc \n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "modificaPaginaFinal",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LeTotalPaginasArquivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PaginaFinal",
							"value": {
								"value": "@string(int(activity('LeTotalPaginasArquivo').output.FirstRow.pages))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EXEC VTEX_ORDER_02_TOTAL_PAGINA",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "modificaPaginaFinal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(int(variables('Contador')),int(variables('PaginaFinal')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "modificaIndexValue",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "IndexValue",
										"value": {
											"value": "@string(add(int(variables('Contador')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "modificaContador",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "modificaIndexValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Contador",
										"value": {
											"value": "@string(int(variables('IndexValue')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "VTEX_ORDER_02_TOTAL_PAGINA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "modificaContador",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "VTEX_ORDER_02_TOTAL_PAGINA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParCodEndPoint": {
												"value": "@pipeline().parameters.ParCodEndPoint",
												"type": "Expression"
											},
											"ParPagina": {
												"value": "@string(int(variables('Contador')))",
												"type": "Expression"
											},
											"DataInicioOrderVTEX": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_INICIO_ORDER_VTEX",
												"type": "Expression"
											},
											"DataFimOrderVtex": {
												"value": "@activity('LeCredenciaisOrigem').output.FirstRow.DATA_FINAL_ORDER_VTEX",
												"type": "Expression"
											},
											"DataIngestao": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_INGESTAO",
												"type": "Expression"
											},
											"DataProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_PROCESSAMENTO",
												"type": "Expression"
											},
											"DataHoraProcessamento": {
												"value": "@activity('LeDataProcessamento').output.firstRow.DAT_HORA_PROCESSAMENTO",
												"type": "Expression"
											},
											"ParTabelaListOrder": {
												"value": "@concat(\nactivity('TabelaOrderList').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TabelaOrderList').output.firstRow.NOM_TABELA_DESTINO\n)\n",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "LimpaTotalPagina",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LimpaTabelaOrderList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('TotalPaginas').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TotalPaginas').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "TabelaOrderList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TotalPaginas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select NOM_SCHEMA_DESTINO,NOM_TABELA_DESTINO \nfrom  [dbo].[CTR_ADF_TABELA_API_ENDPOINT]\nwhere COD_TABELA = 2",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_CONTROLE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					},
					{
						"name": "LimpaTabelaOrderList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "TabelaOrderList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('truncate table  ',\nactivity('TabelaOrderList').output.firstRow.NOM_SCHEMA_DESTINO,\n'.',\nactivity('TabelaOrderList').output.firstRow.NOM_TABELA_DESTINO,\n' SELECT 0'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_DS_DW_MALWEE",
								"type": "DatasetReference",
								"parameters": {
									"NomeTabela": "TABELA"
								}
							}
						}
					}
				],
				"parameters": {
					"ParCodEndPoint": {
						"type": "int"
					},
					"ParPagina": {
						"type": "int"
					},
					"ParTabelaShippingItems": {
						"type": "string"
					}
				},
				"variables": {
					"AppToken": {
						"type": "String"
					},
					"AppKey": {
						"type": "String"
					},
					"RelativeURL": {
						"type": "String"
					},
					"PaginaFinal": {
						"type": "String",
						"defaultValue": "0"
					},
					"Contador": {
						"type": "String",
						"defaultValue": "0"
					},
					"IndexValue": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Modelos/API JSON/VTEX"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VTEX_ORDER_02_TOTAL_PAGINA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vtex_0600')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "VTEX_ORDER_01_DETAILS",
							"type": "PipelineReference"
						},
						"parameters": {
							"ParCodEndPoint": "[parameters('vtex_0600_properties_VTEX_ORDER_01_DETAILS_parameters_ParCodEndPoint')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-29T12:13:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VTEX_ORDER_01_DETAILS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_CLIENTES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cigam",
						"description": "t",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "114"
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Cigam",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_DEVOLUCAOCLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "113"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "113"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "113"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_ESTABELECIMENTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "112"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "112"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "112"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_ESTAB_USUARIOS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "116"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_ESTOQUEHISTORICO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "120"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "120"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "120"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_METALOJA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "117"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "117"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "117"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_PRODUTOENTRADA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "119"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "119"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "119"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_PRODUTOS_')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "111"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "111"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "111"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_PRODUTO_ESTOQUE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRMProduto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "118"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRMProduto_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "118"
							}
						}
					},
					{
						"name": "Gestor_CRMProduto_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "118"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXEC_PIPE_CIGAM_GST_BI_VENDAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gestor_CRM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "115"
							}
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "wait_vw_alocacao_credito_tentativa_3",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Gestor_CRM_Tentativa_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Gestor_CRM_Tentativa_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "115"
							}
						}
					},
					{
						"name": "Gestor_CRM_Tentativa_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wait_vw_alocacao_credito_tentativa_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXEC_ADF_MODELO_ORACLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ParCodTabela": "115"
							}
						}
					}
				],
				"folder": {
					"name": "Malhas/CIGAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_ADF_MODELO_ORACLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_CIGAM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_CLIENTES",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_DEVOLUCAOCLIENTE",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_ESTAB_USUARIOS",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_ESTABELECIMENTO",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_ESTOQUEHISTORICO",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_METALOJA",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_PRODUTO_ESTOQUE",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_PRODUTOENTRADA",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_PRODUTOS_",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EXEC_PIPE_CIGAM_GST_BI_VENDAS",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-26T23:45:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_CLIENTES')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_DEVOLUCAOCLIENTE')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_ESTAB_USUARIOS')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_ESTABELECIMENTO')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_ESTOQUEHISTORICO')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_METALOJA')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_PRODUTO_ESTOQUE')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_PRODUTOENTRADA')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_PRODUTOS_')]",
				"[concat(variables('factoryId'), '/pipelines/EXEC_PIPE_CIGAM_GST_BI_VENDAS')]"
			]
		}
	]
}